# Stat 139 Project

## Data Cleaning and Preparation
### by Kendrick Lo (last revised 25 Nov)

In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)

import math
import warnings
warnings.filterwarnings('ignore')

In [2]:
# response (country of event, year)
df = pd.read_csv('attacks_country_year.csv')

In [3]:
df.shape

(42373, 2)

In [4]:
df.dtypes

country_txt    object
iyear           int64
dtype: object

In [5]:
df.head()  # note duplicate country entries

  country_txt  iyear
0       Egypt   2011
1        Iraq   2011
2        Iraq   2011
3     Nigeria   2011
4        Iraq   2011

In [6]:
# check list of unique country entries
list(set(df.country_txt))

['Canada',
 'Turkmenistan',
 'Cambodia',
 'West Bank and Gaza Strip',
 'Ethiopia',
 'Argentina',
 'Bolivia',
 'Cameroon',
 'Burkina Faso',
 'Bahrain',
 'Saudi Arabia',
 'Guatemala',
 'Guinea',
 'Jordan',
 'Spain',
 'Liberia',
 'Netherlands',
 'Jamaica',
 'Tanzania',
 'New Zealand',
 'Yemen',
 'Pakistan',
 'Albania',
 'United Arab Emirates',
 'India',
 'Azerbaijan',
 'Kenya',
 'Tajikistan',
 'Turkey',
 'Afghanistan',
 'Bangladesh',
 'Mauritania',
 'France',
 'Rwanda',
 'Somalia',
 'Peru',
 'Laos',
 'Norway',
 'Montenegro',
 'Republic of the Congo',
 'China',
 'Armenia',
 'Dominican Republic',
 'Ukraine',
 'Ghana',
 'Libya',
 'Indonesia',
 'Central African Republic',
 'United States',
 'Sweden',
 'Australia',
 'Mali',
 'Russia',
 'Bulgaria',
 'Portugal',
 'South Africa',
 'Nicaragua',
 'Malaysia',
 'Senegal',
 'Mozambique',
 'Uganda',
 'Hungary',
 'Niger',
 'Bosnia-Herzegovina',
 'Brazil',
 'Kuwait',
 'Bahamas',
 'Ivory Coast',
 'Nigeria',
 'Ecuador',
 'Czech Republic',
 'Belarus',
 'Iran',
 'Algeria',
 'Chile',
 'Belgium',
 'Thailand',
 'Iraq',
 'Georgia',
 'Denmark',
 'Philippines',
 'Moldova',
 'Morocco',
 'Ireland',
 'Guinea-Bissau',
 'Switzerland',
 'Belize',
 'Chad',
 'Estonia',
 'Kosovo',
 'Lebanon',
 'Tunisia',
 'Djibouti',
 'Colombia',
 'Burundi',
 'Taiwan',
 'Cyprus',
 'Madagascar',
 'Italy',
 'Bhutan',
 'Sudan',
 'Nepal',
 'Malta',
 'Democratic Republic of the Congo',
 'Maldives',
 'Venezuela',
 'Israel',
 'Iceland',
 'Austria',
 'Trinidad and Tobago',
 'Zimbabwe',
 'Germany',
 'Kazakhstan',
 'Eritrea',
 'Kyrgyzstan',
 'Macedonia',
 'Sri Lanka',
 'South Sudan',
 'Japan',
 'Syria',
 'Honduras',
 'Myanmar',
 'Mexico',
 'Egypt',
 'Serbia',
 'United Kingdom',
 'Greece',
 'Paraguay',
 'Croatia']

In [7]:
# looks OK, let's look at sorted list
sorted(list(set(df.country_txt)))

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Bhutan',
 'Bolivia',
 'Bosnia-Herzegovina',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Macedonia',
 'Madagascar',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mexico',
 'Moldova',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Pakistan',
 'Paraguay',
 'Peru',
 'Philippines',
 'Portugal',
 'Republic of the Congo',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Venezuela',
 'West Bank and Gaza Strip',
 'Yemen',
 'Zimbabwe']

In [8]:
len(sorted(list(set(df.country_txt))))

129

In [9]:
data = pd.DataFrame({'country' : sorted(list(set(df.country_txt))), 
                  2011: [0] * len(sorted(list(set(df.country_txt)))),
                  2012: [0] * len(sorted(list(set(df.country_txt)))),
                  2013: [0] * len(sorted(list(set(df.country_txt)))),
                  2014: [0] * len(sorted(list(set(df.country_txt)))),
                 }).set_index('country')
data

                          2011  2012  2013  2014
country
Afghanistan                  0     0     0     0
Albania                      0     0     0     0
Algeria                      0     0     0     0
Argentina                    0     0     0     0
Armenia                      0     0     0     0
Australia                    0     0     0     0
Austria                      0     0     0     0
Azerbaijan                   0     0     0     0
Bahamas                      0     0     0     0
Bahrain                      0     0     0     0
Bangladesh                   0     0     0     0
Belarus                      0     0     0     0
Belgium                      0     0     0     0
Belize                       0     0     0     0
Bhutan                       0     0     0     0
Bolivia                      0     0     0     0
Bosnia-Herzegovina           0     0     0     0
Brazil                       0     0     0     0
Bulgaria                     0     0     0     0
Burkina Faso                 0     0     0     0
Burundi                      0     0     0     0
Cambodia                     0     0     0     0
Cameroon                     0     0     0     0
Canada                       0     0     0     0
Central African Republic     0     0     0     0
Chad                         0     0     0     0
Chile                        0     0     0     0
China                        0     0     0     0
Colombia                     0     0     0     0
Croatia                      0     0     0     0
...                        ...   ...   ...   ...
Rwanda                       0     0     0     0
Saudi Arabia                 0     0     0     0
Senegal                      0     0     0     0
Serbia                       0     0     0     0
Somalia                      0     0     0     0
South Africa                 0     0     0     0
South Sudan                  0     0     0     0
Spain                        0     0     0     0
Sri Lanka                    0     0     0     0
Sudan                        0     0     0     0
Sweden                       0     0     0     0
Switzerland                  0     0     0     0
Syria                        0     0     0     0
Taiwan                       0     0     0     0
Tajikistan                   0     0     0     0
Tanzania                     0     0     0     0
Thailand                     0     0     0     0
Trinidad and Tobago          0     0     0     0
Tunisia                      0     0     0     0
Turkey                       0     0     0     0
Turkmenistan                 0     0     0     0
Uganda                       0     0     0     0
Ukraine                      0     0     0     0
United Arab Emirates         0     0     0     0
United Kingdom               0     0     0     0
United States                0     0     0     0
Venezuela                    0     0     0     0
West Bank and Gaza Strip     0     0     0     0
Yemen                        0     0     0     0
Zimbabwe                     0     0     0     0

[129 rows x 4 columns]

In [10]:
for i in range(df.shape[0]):
    name = df.country_txt[i]
    year = df.iyear[i]
    prevcnt = data.get_value(name, year)
    data.set_value(name, year, prevcnt + 1)

In [11]:
data

                          2011  2012  2013  2014
country
Afghanistan                422  1469  1442  1820
Albania                      0     0     1     2
Algeria                     15    41    22    13
Argentina                    1     2     2     0
Armenia                      0     0     1     0
Australia                    0     0     1     7
Austria                      1     0     1     1
Azerbaijan                   0     0     0     3
Bahamas                      0     0     1     0
Bahrain                      1    26    52    40
Bangladesh                  14    18   138   129
Belarus                      1     3     0     0
Belgium                      0     1     0     2
Belize                       0     0     1     0
Bhutan                       1     0     0     1
Bolivia                      0     1     0     0
Bosnia-Herzegovina           1     0     1     3
Brazil                       0     1     3     3
Bulgaria                     2     2     3     1
Burkina Faso                 0     0     1     0
Burundi                      8     4     2     5
Cambodia                     0     0     2     0
Cameroon                     3     0     3    67
Canada                       0     2     3     2
Central African Republic     3     4    20    93
Chad                         0     0     0     1
Chile                        6     2     4    17
China                        4     4    12    37
Colombia                    94   115   147   230
Croatia                      0     0     2     0
...                        ...   ...   ...   ...
Rwanda                       2     6     4     2
Saudi Arabia                 2     6     6    14
Senegal                      4    12     3     2
Serbia                       0     3     0     0
Somalia                    184   318   334   862
South Africa                 0     4    13    20
South Sudan                  0     5    13    39
Spain                        0     1     5     3
Sri Lanka                    0     4    14    16
Sudan                       38    40    46   157
Sweden                       1     2     0     6
Switzerland                  3     0     2     0
Syria                       49   177   279   326
Taiwan                       0     0     2     0
Tajikistan                   0     5     0     1
Tanzania                     0     0     7    11
Thailand                   181   286   477   423
Trinidad and Tobago          0     0     3     0
Tunisia                      3     1    29    23
Turkey                      51   190    42    90
Turkmenistan                 0     0     0     1
Uganda                       0     0     0     6
Ukraine                      3     8     5   889
United Arab Emirates         0     0     1     2
United Kingdom              47    51   137   103
United States                9    13    16    19
Venezuela                    0     1     0     4
West Bank and Gaza Strip    20    22    64   135
Yemen                      118   312   424   760
Zimbabwe                     1     0     4     1

[129 rows x 4 columns]

<div class="alert alert-info">
Note that if no events were recorded for a country, we enter zero.  This is accounted for in the average.
</div>

In [12]:
data['avg_attacks'] = data.mean(axis=1)

In [13]:
data

                          2011  2012  2013  2014  avg_attacks
country
Afghanistan                422  1469  1442  1820      1288.25
Albania                      0     0     1     2         0.75
Algeria                     15    41    22    13        22.75
Argentina                    1     2     2     0         1.25
Armenia                      0     0     1     0         0.25
Australia                    0     0     1     7         2.00
Austria                      1     0     1     1         0.75
Azerbaijan                   0     0     0     3         0.75
Bahamas                      0     0     1     0         0.25
Bahrain                      1    26    52    40        29.75
Bangladesh                  14    18   138   129        74.75
Belarus                      1     3     0     0         1.00
Belgium                      0     1     0     2         0.75
Belize                       0     0     1     0         0.25
Bhutan                       1     0     0     1         0.50
Bolivia                      0     1     0     0         0.25
Bosnia-Herzegovina           1     0     1     3         1.25
Brazil                       0     1     3     3         1.75
Bulgaria                     2     2     3     1         2.00
Burkina Faso                 0     0     1     0         0.25
Burundi                      8     4     2     5         4.75
Cambodia                     0     0     2     0         0.50
Cameroon                     3     0     3    67        18.25
Canada                       0     2     3     2         1.75
Central African Republic     3     4    20    93        30.00
Chad                         0     0     0     1         0.25
Chile                        6     2     4    17         7.25
China                        4     4    12    37        14.25
Colombia                    94   115   147   230       146.50
Croatia                      0     0     2     0         0.50
...                        ...   ...   ...   ...          ...
Rwanda                       2     6     4     2         3.50
Saudi Arabia                 2     6     6    14         7.00
Senegal                      4    12     3     2         5.25
Serbia                       0     3     0     0         0.75
Somalia                    184   318   334   862       424.50
South Africa                 0     4    13    20         9.25
South Sudan                  0     5    13    39        14.25
Spain                        0     1     5     3         2.25
Sri Lanka                    0     4    14    16         8.50
Sudan                       38    40    46   157        70.25
Sweden                       1     2     0     6         2.25
Switzerland                  3     0     2     0         1.25
Syria                       49   177   279   326       207.75
Taiwan                       0     0     2     0         0.50
Tajikistan                   0     5     0     1         1.50
Tanzania                     0     0     7    11         4.50
Thailand                   181   286   477   423       341.75
Trinidad and Tobago          0     0     3     0         0.75
Tunisia                      3     1    29    23        14.00
Turkey                      51   190    42    90        93.25
Turkmenistan                 0     0     0     1         0.25
Uganda                       0     0     0     6         1.50
Ukraine                      3     8     5   889       226.25
United Arab Emirates         0     0     1     2         0.75
United Kingdom              47    51   137   103        84.50
United States                9    13    16    19        14.25
Venezuela                    0     1     0     4         1.25
West Bank and Gaza Strip    20    22    64   135        60.25
Yemen                      118   312   424   760       403.50
Zimbabwe                     1     0     4     1         1.50

[129 rows x 5 columns]

In [14]:
# make sure we got everything
(sum(data[2011]) + sum(data[2012]) + sum(data[2013]) + sum(data[2014]))==df.shape[0]

True

In [15]:
data = data.drop([2011, 2012, 2013, 2014], axis=1)
data

                          avg_attacks
country
Afghanistan                   1288.25
Albania                          0.75
Algeria                         22.75
Argentina                        1.25
Armenia                          0.25
Australia                        2.00
Austria                          0.75
Azerbaijan                       0.75
Bahamas                          0.25
Bahrain                         29.75
Bangladesh                      74.75
Belarus                          1.00
Belgium                          0.75
Belize                           0.25
Bhutan                           0.50
Bolivia                          0.25
Bosnia-Herzegovina               1.25
Brazil                           1.75
Bulgaria                         2.00
Burkina Faso                     0.25
Burundi                          4.75
Cambodia                         0.50
Cameroon                        18.25
Canada                           1.75
Central African Republic        30.00
Chad                             0.25
Chile                            7.25
China                           14.25
Colombia                       146.50
Croatia                          0.50
...                               ...
Rwanda                           3.50
Saudi Arabia                     7.00
Senegal                          5.25
Serbia                           0.75
Somalia                        424.50
South Africa                     9.25
South Sudan                     14.25
Spain                            2.25
Sri Lanka                        8.50
Sudan                           70.25
Sweden                           2.25
Switzerland                      1.25
Syria                          207.75
Taiwan                           0.50
Tajikistan                       1.50
Tanzania                         4.50
Thailand                       341.75
Trinidad and Tobago              0.75
Tunisia                         14.00
Turkey                          93.25
Turkmenistan                     0.25
Uganda                           1.50
Ukraine                        226.25
United Arab Emirates             0.75
United Kingdom                  84.50
United States                   14.25
Venezuela                        1.25
West Bank and Gaza Strip        60.25
Yemen                          403.50
Zimbabwe                         1.50

[129 rows x 1 columns]

In [16]:
data.to_csv("Y_avg.csv")

## Visualizations

![](world.png)

![](overfifty.png)

## Sex Ratio

<div class="alert alert-info">
Note that we are dropping any rows that we do not have data for in our response variable (y).
</div>

In [17]:
data2 = pd.read_csv('Y_avg.csv')

In [18]:
# (region, 2010, 2015)
sr = pd.read_csv('data/sex_ratio.csv')
sr

                     region     2010     2015  Unnamed: 3
0               Afghanistan  109.000  108.828         NaN
1                    AFRICA  100.013  100.595         NaN
2                   Albania   96.332   97.214         NaN
3                   Algeria  103.123  103.037         NaN
4                    Angola   97.437   97.555         NaN
5                 Argentina  101.258  101.403         NaN
6                   Armenia   87.471   90.307         NaN
7                     Aruba   93.366   94.970         NaN
8                      ASIA  105.879  106.355         NaN
9                 Australia  101.152  101.796         NaN
10    Australia/New Zealand  100.722  101.458         NaN
11                  Austria  102.095  102.127         NaN
12               Azerbaijan   93.972   95.512         NaN
13                  Bahamas   96.640   96.121         NaN
14                  Bahrain  145.847  138.784         NaN
15               Bangladesh  102.453  102.632         NaN
16                 Barbados  101.488  102.026         NaN
17                  Belarus   98.184   98.686         NaN
18                  Belgium  101.983  101.788         NaN
19                   Belize  102.349  102.620         NaN
20                    Benin  104.607  104.253         NaN
21                   Bhutan  116.603  116.441         NaN
22                  Bolivia  100.059  100.750         NaN
23   Bosnia and Herzegovina   95.073   96.864         NaN
24                 Botswana  104.647  107.159         NaN
25                   Brazil   98.345   98.823         NaN
26                   Brunei   99.708   98.433         NaN
27                 Bulgaria  103.311  103.850         NaN
28             Burkina Faso  100.485  100.946         NaN
29                  Burundi   97.501   97.848         NaN
..                      ...      ...      ...         ...
201                Thailand   97.820   98.832         NaN
202             Timor-Leste  104.976  105.363         NaN
203                    Togo   99.270   99.791         NaN
204                   Tonga  102.761  104.795         NaN
205     Trinidad and Tobago   98.455   99.046         NaN
206                 Tunisia  100.873  102.362         NaN
207                  Turkey  102.564  102.557         NaN
208            Turkmenistan   99.054   99.735         NaN
209                  Uganda  102.477  102.177         NaN
210                 Ukraine   98.153   99.041         NaN
211    United Arab Emirates  238.741  237.156         NaN
212          United Kingdom  100.917  102.630         NaN
213                Tanzania  100.831  101.376         NaN
214           United States  102.151  103.199         NaN
215   Virgin Islands (U.S.)   88.100   90.230         NaN
216                 Uruguay   99.731  100.530         NaN
217              Uzbekistan  100.256  100.937         NaN
218                 Vanuatu  102.327  103.152         NaN
219               Venezuela  101.269  101.284         NaN
220                 Vietnam  100.654  101.903         NaN
221          Western Africa  100.545  100.949         NaN
222            Western Asia  109.600  109.057         NaN
223          Western Europe  102.582  102.864         NaN
224          Western Sahara  112.917  110.881         NaN
225                   WORLD  103.701  104.201         NaN
226             Yemen, Rep.  102.866  103.059         NaN
227                  Zambia  102.022  102.770         NaN
228                Zimbabwe   96.128  100.613         NaN
229                     NaN      NaN      NaN         NaN
230                     NaN      NaN      NaN         NaN

[231 rows x 4 columns]

In [19]:
data2["sexratio"]=float('NaN')

In [20]:
for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(sr.shape[0]):
        if sr.region[j]==name:
            data2.sexratio[i] = (sr["2010"][j] + sr["2015"][j])/2.0
            break

data2

                      country  avg_attacks  sexratio
0                 Afghanistan      1288.25  108.9140
1                     Albania         0.75   96.7730
2                     Algeria        22.75  103.0800
3                   Argentina         1.25  101.3305
4                     Armenia         0.25   88.8890
5                   Australia         2.00  101.4740
6                     Austria         0.75  102.1110
7                  Azerbaijan         0.75   94.7420
8                     Bahamas         0.25   96.3805
9                     Bahrain        29.75  142.3155
10                 Bangladesh        74.75  102.5425
11                    Belarus         1.00   98.4350
12                    Belgium         0.75  101.8855
13                     Belize         0.25  102.4845
14                     Bhutan         0.50  116.5220
15                    Bolivia         0.25  100.4045
16         Bosnia-Herzegovina         1.25       NaN
17                     Brazil         1.75   98.5840
18                   Bulgaria         2.00  103.5805
19               Burkina Faso         0.25  100.7155
20                    Burundi         4.75   97.6745
21                   Cambodia         0.50   99.0405
22                   Cameroon        18.25  101.7865
23                     Canada         1.75  102.8465
24   Central African Republic        30.00       NaN
25                       Chad         0.25   99.9630
26                      Chile         7.25  101.2520
27                      China        14.25  107.9640
28                   Colombia       146.50   97.5815
29                    Croatia         0.50  102.1120
..                        ...          ...       ...
99                     Rwanda         3.50   94.7770
100              Saudi Arabia         7.00  125.4700
101                   Senegal         5.25   97.0770
102                    Serbia         0.75  103.6150
103                   Somalia       424.50   98.3130
104              South Africa         9.25  102.8280
105               South Sudan        14.25       NaN
106                     Spain         2.25  105.4055
107                 Sri Lanka         8.50   97.7460
108                     Sudan        70.25  102.1215
109                    Sweden         2.25  103.8100
110               Switzerland         1.25   99.2980
111                     Syria       207.75  103.2330
112                    Taiwan         0.50       NaN
113                Tajikistan         1.50   96.3685
114                  Tanzania         4.50  101.1035
115                  Thailand       341.75   98.3260
116       Trinidad and Tobago         0.75   98.7505
117                   Tunisia        14.00  101.6175
118                    Turkey        93.25  102.5605
119              Turkmenistan         0.25   99.3945
120                    Uganda         1.50  102.3270
121                   Ukraine       226.25   98.5970
122      United Arab Emirates         0.75  237.9485
123            United Kingdom        84.50  101.7735
124             United States        14.25  102.6750
125                 Venezuela         1.25  101.2765
126  West Bank and Gaza Strip        60.25       NaN
127                     Yemen       403.50       NaN
128                  Zimbabwe         1.50   98.3705

[129 rows x 3 columns]

In [21]:
data2[data2.sexratio.isnull()]

                              country  avg_attacks  sexratio
16                 Bosnia-Herzegovina         1.25       NaN
24           Central African Republic        30.00       NaN
31                     Czech Republic         1.75       NaN
32   Democratic Republic of the Congo        43.00       NaN
35                 Dominican Republic         0.50       NaN
59                        Ivory Coast         6.00       NaN
65                             Kosovo         3.75       NaN
72                          Macedonia         1.00       NaN
97              Republic of the Congo         0.25       NaN
105                       South Sudan        14.25       NaN
112                            Taiwan         0.50       NaN
126          West Bank and Gaza Strip        60.25       NaN
127                             Yemen       403.50       NaN

In [22]:
# manual insertion
data2.sexratio[16] = (sr["2010"][23] + sr["2015"][23])/2.0  # Bosnia and Herzegovina
data2.sexratio[24] = (sr["2010"][35] + sr["2015"][35])/2.0  # Central African Republic
data2.sexratio[31] = (sr["2010"][51] + sr["2015"][51])/2.0  # Czech Republic
data2.sexratio[32] = (sr["2010"][51] + sr["2015"][51])/2.0  # Democratic Republic Congo
data2.sexratio[35] = (sr["2010"][56] + sr["2015"][56])/2.0  # Dominican Republic
data2.sexratio[59] = (sr["2010"][47] + sr["2015"][47])/2.0  # Ivory Coast
data2.sexratio[65] = (sr["2010"][177] + sr["2015"][177])/2.0  # Kosovo NOTE:  Using value for SERBIA
data2.sexratio[72] = (sr["2010"][200] + sr["2015"][200])/2.0  # Macedonia
data2.sexratio[97] = (sr["2010"][200] + sr["2015"][200])/2.0  # Republic of the Congo
data2.sexratio[105] = (sr["2010"][193] + sr["2015"][193])/2.0  # South Sudan  NOTE:  Using value for SUDAN
data2.sexratio[112] = (sr["2010"][40] + sr["2015"][40])/2.0  # Taiwan  NOTE:  Using value for CHINA
data2.sexratio[126] = (sr["2010"][151] + sr["2015"][151])/2.0  # West Bank and Gaza
data2.sexratio[127] = (sr["2010"][226] + sr["2015"][226])/2.0  # Yemen

In [23]:
print sr["region"][23]
print sr["region"][35]
print sr["region"][51]
print sr["region"][53]
print sr["region"][56]
print sr["region"][47]
print sr["region"][177]
print sr["region"][200]
print sr["region"][45]
print sr["region"][193]
print sr["region"][40]
print sr["region"][151]
print sr["region"][226]

Bosnia and Herzegovina
Central African Rep.
Czech Rep.
Congo, Dem. Rep.
Dominican Rep.
Cote d'Ivoire
Serbia
Macedonia, FYR
Congo, Rep.
Sudan
China
West Bank and Gaza
Yemen, Rep.

<div class="alert alert-warning">
We have imputed the missing value for Kosovo, by using the data for Serbia. <br>
We have imputed the missing value for South Sudan, by using the data for Sudan. <br>
We have imputed the missing value for Taiwan, by using the data for China.
</div>

In [24]:
## check if we got all of them
data2[data2.sexratio.isnull()]

Empty DataFrame
Columns: [country, avg_attacks, sexratio]
Index: []

## Literacy Rate

<div class="alert alert-info">
Note that we are expanding the years in which we use the data (2005-11).
</div>

In [25]:
# (literacy, 2005, 2006, 2007, 2008, 2009, 2010, 2011)
lit = pd.read_csv('data/literacy.csv')
lit

                         literacy       2005       2006        2007       2008       2009       2010       2011
0                     Afghanistan        NaN        NaN         NaN        NaN        NaN        NaN        NaN
1                         Albania        NaN        NaN         NaN  98.831207        NaN        NaN  98.791190
2                         Algeria        NaN  91.779641         NaN        NaN        NaN        NaN        NaN
3                         Andorra        NaN        NaN         NaN        NaN        NaN        NaN        NaN
4                          Angola        NaN        NaN         NaN        NaN        NaN        NaN  73.036460
5                        Anguilla        NaN        NaN         NaN        NaN        NaN        NaN        NaN
6             Antigua and Barbuda        NaN        NaN         NaN        NaN        NaN        NaN        NaN
7                       Argentina        NaN        NaN         NaN        NaN        NaN        NaN  99.215080
8                         Armenia        NaN        NaN         NaN        NaN        NaN        NaN  99.756760
9                           Aruba        NaN        NaN         NaN        NaN        NaN  99.138412        NaN
10                      Australia        NaN        NaN         NaN        NaN        NaN        NaN        NaN
11                        Austria        NaN        NaN         NaN        NaN        NaN        NaN        NaN
12                     Azerbaijan        NaN        NaN  100.000000        NaN  99.951296        NaN        NaN
13                        Bahamas        NaN        NaN         NaN        NaN        NaN        NaN        NaN
14                        Bahrain        NaN        NaN         NaN        NaN        NaN  98.163596        NaN
15                     Bangladesh        NaN        NaN         NaN        NaN        NaN        NaN  78.705770
16                       Barbados        NaN        NaN         NaN        NaN        NaN        NaN        NaN
17                        Belarus        NaN        NaN         NaN        NaN  99.823213        NaN        NaN
18                        Belgium        NaN        NaN         NaN        NaN        NaN        NaN        NaN
19                         Belize        NaN        NaN         NaN        NaN        NaN        NaN        NaN
20                          Benin        NaN  42.362704         NaN        NaN        NaN        NaN        NaN
21                        Bermuda        NaN        NaN         NaN        NaN        NaN        NaN        NaN
22                         Bhutan  74.405207        NaN         NaN        NaN        NaN        NaN        NaN
23                        Bolivia        NaN        NaN   99.441358  99.122499  99.383974        NaN        NaN
24         Bosnia and Herzegovina        NaN        NaN         NaN        NaN        NaN        NaN  99.697600
25                       Botswana        NaN        NaN         NaN        NaN        NaN        NaN  95.214420
26                         Brazil        NaN  97.582298   97.800630  97.843630  98.065536  97.514125        NaN
27         British Virgin Islands        NaN        NaN         NaN        NaN        NaN        NaN        NaN
28                         Brunei        NaN        NaN         NaN        NaN        NaN        NaN  99.745330
29                       Bulgaria        NaN        NaN         NaN        NaN        NaN        NaN  97.865054
..                            ...        ...        ...         ...        ...        ...        ...        ...
232                 New Caledonia        NaN        NaN         NaN        NaN        NaN        NaN        NaN
233               Ngorno-Karabakh        NaN        NaN         NaN        NaN        NaN        NaN        NaN
234                Norfolk Island        NaN        NaN         NaN        NaN        NaN        NaN        NaN
235               Northern Cyprus        NaN        NaN         NaN        NaN        NaN        NaN        NaN
236      Northern Mariana Islands        NaN        NaN         NaN        NaN        NaN        NaN        NaN
237                      Pitcairn        NaN        NaN         NaN        NaN        NaN        NaN        NaN
238                       Reunion        NaN        NaN         NaN        NaN        NaN        NaN        NaN
239              Saint Barth�lemy        NaN        NaN         NaN        NaN        NaN        NaN        NaN
240                  Saint Helena        NaN        NaN         NaN        NaN        NaN        NaN        NaN
241                  Saint Martin        NaN        NaN         NaN        NaN        NaN        NaN        NaN
242      Saint-Pierre-et-Miquelon        NaN        NaN         NaN        NaN        NaN        NaN        NaN
243         Serbia and Montenegro        NaN        NaN         NaN        NaN        NaN        NaN        NaN
244       Serbia excluding Kosovo        NaN        NaN         NaN        NaN        NaN        NaN        NaN
245                    Somaliland        NaN        NaN         NaN        NaN        NaN        NaN        NaN
246                 South Ossetia        NaN        NaN         NaN        NaN        NaN        NaN        NaN
247                   South Sudan        NaN        NaN         NaN        NaN        NaN        NaN        NaN
248                      Svalbard        NaN        NaN         NaN        NaN        NaN        NaN        NaN
249                        Taiwan        NaN        NaN         NaN        NaN        NaN        NaN        NaN
250                  Transnistria        NaN        NaN         NaN        NaN        NaN        NaN        NaN
251                          USSR        NaN        NaN         NaN        NaN        NaN        NaN        NaN
252              Wallis et Futuna        NaN        NaN         NaN        NaN        NaN        NaN        NaN
253                  West Germany        NaN        NaN         NaN        NaN        NaN        NaN        NaN
254                Western Sahara        NaN        NaN         NaN        NaN        NaN        NaN        NaN
255         Virgin Islands (U.S.)        NaN        NaN         NaN        NaN        NaN        NaN        NaN
256  Yemen Arab Republic (Former)        NaN        NaN         NaN        NaN        NaN        NaN        NaN
257     Yemen Democratic (Former)        NaN        NaN         NaN        NaN        NaN        NaN        NaN
258                    Yugoslavia        NaN        NaN         NaN        NaN        NaN        NaN        NaN
259                         �land        NaN        NaN         NaN        NaN        NaN        NaN        NaN
260                           NaN        NaN        NaN         NaN        NaN        NaN        NaN        NaN
261                           NaN        NaN        NaN         NaN        NaN        NaN        NaN        NaN

[262 rows x 8 columns]

<div class="alert alert-info">
Note that we do not include missing values in calculating the row average.
</div>

In [26]:
lit["avg"]=float('NaN')
for i in range(lit.shape[0]):
    runningtot = 0
    totalvals = 0
    for j in range(1, 8, 1):
        if not math.isnan(lit.iloc[i][j]):
            runningtot += lit.iloc[i][j]
            totalvals += 1
    if totalvals>0:
        lit = lit.set_value(i, "avg", runningtot/(totalvals*1.0))

lit

                         literacy       2005       2006        2007       2008       2009       2010       2011        avg
0                     Afghanistan        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
1                         Albania        NaN        NaN         NaN  98.831207        NaN        NaN  98.791190  98.811199
2                         Algeria        NaN  91.779641         NaN        NaN        NaN        NaN        NaN  91.779641
3                         Andorra        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
4                          Angola        NaN        NaN         NaN        NaN        NaN        NaN  73.036460  73.036460
5                        Anguilla        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
6             Antigua and Barbuda        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
7                       Argentina        NaN        NaN         NaN        NaN        NaN        NaN  99.215080  99.215080
8                         Armenia        NaN        NaN         NaN        NaN        NaN        NaN  99.756760  99.756760
9                           Aruba        NaN        NaN         NaN        NaN        NaN  99.138412        NaN  99.138412
10                      Australia        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
11                        Austria        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
12                     Azerbaijan        NaN        NaN  100.000000        NaN  99.951296        NaN        NaN  99.975648
13                        Bahamas        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
14                        Bahrain        NaN        NaN         NaN        NaN        NaN  98.163596        NaN  98.163596
15                     Bangladesh        NaN        NaN         NaN        NaN        NaN        NaN  78.705770  78.705770
16                       Barbados        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
17                        Belarus        NaN        NaN         NaN        NaN  99.823213        NaN        NaN  99.823213
18                        Belgium        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
19                         Belize        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
20                          Benin        NaN  42.362704         NaN        NaN        NaN        NaN        NaN  42.362704
21                        Bermuda        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
22                         Bhutan  74.405207        NaN         NaN        NaN        NaN        NaN        NaN  74.405207
23                        Bolivia        NaN        NaN   99.441358  99.122499  99.383974        NaN        NaN  99.315944
24         Bosnia and Herzegovina        NaN        NaN         NaN        NaN        NaN        NaN  99.697600  99.697600
25                       Botswana        NaN        NaN         NaN        NaN        NaN        NaN  95.214420  95.214420
26                         Brazil        NaN  97.582298   97.800630  97.843630  98.065536  97.514125        NaN  97.761244
27         British Virgin Islands        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
28                         Brunei        NaN        NaN         NaN        NaN        NaN        NaN  99.745330  99.745330
29                       Bulgaria        NaN        NaN         NaN        NaN        NaN        NaN  97.865054  97.865054
..                            ...        ...        ...         ...        ...        ...        ...        ...        ...
232                 New Caledonia        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
233               Ngorno-Karabakh        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
234                Norfolk Island        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
235               Northern Cyprus        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
236      Northern Mariana Islands        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
237                      Pitcairn        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
238                       Reunion        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
239              Saint Barth�lemy        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
240                  Saint Helena        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
241                  Saint Martin        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
242      Saint-Pierre-et-Miquelon        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
243         Serbia and Montenegro        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
244       Serbia excluding Kosovo        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
245                    Somaliland        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
246                 South Ossetia        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
247                   South Sudan        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
248                      Svalbard        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
249                        Taiwan        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
250                  Transnistria        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
251                          USSR        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
252              Wallis et Futuna        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
253                  West Germany        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
254                Western Sahara        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
255         Virgin Islands (U.S.)        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
256  Yemen Arab Republic (Former)        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
257     Yemen Democratic (Former)        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
258                    Yugoslavia        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
259                         �land        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
260                           NaN        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN
261                           NaN        NaN        NaN         NaN        NaN        NaN        NaN        NaN        NaN

[262 rows x 9 columns]

In [27]:
data2["literacy"]=float('NaN')

In [28]:
for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(lit.shape[0]):
        if lit.literacy[j]==name:
            data2.literacy[i] = lit.avg[j]
            break

data2

                      country  avg_attacks  sexratio   literacy
0                 Afghanistan      1288.25  108.9140        NaN
1                     Albania         0.75   96.7730  98.811199
2                     Algeria        22.75  103.0800  91.779641
3                   Argentina         1.25  101.3305  99.215080
4                     Armenia         0.25   88.8890  99.756760
5                   Australia         2.00  101.4740        NaN
6                     Austria         0.75  102.1110        NaN
7                  Azerbaijan         0.75   94.7420  99.975648
8                     Bahamas         0.25   96.3805        NaN
9                     Bahrain        29.75  142.3155  98.163596
10                 Bangladesh        74.75  102.5425  78.705770
11                    Belarus         1.00   98.4350  99.823213
12                    Belgium         0.75  101.8855        NaN
13                     Belize         0.25  102.4845        NaN
14                     Bhutan         0.50  116.5220  74.405207
15                    Bolivia         0.25  100.4045  99.315944
16         Bosnia-Herzegovina         1.25   95.9685        NaN
17                     Brazil         1.75   98.5840  97.761244
18                   Bulgaria         2.00  103.5805  97.865054
19               Burkina Faso         0.25  100.7155  36.112199
20                    Burundi         4.75   97.6745  88.886367
21                   Cambodia         0.50   99.0405  87.301918
22                   Cameroon        18.25  101.7865  81.855007
23                     Canada         1.75  102.8465        NaN
24   Central African Republic        30.00   98.3910        NaN
25                       Chad         0.25   99.9630  47.888400
26                      Chile         7.25  101.2520  99.012979
27                      China        14.25  107.9640  99.642290
28                   Colombia       146.50   97.5815  98.010670
29                    Croatia         0.50  102.1120  99.645820
..                        ...          ...       ...        ...
99                     Rwanda         3.50   94.7770  77.344627
100              Saudi Arabia         7.00  125.4700  98.020180
101                   Senegal         5.25   97.0770  57.933281
102                    Serbia         0.75  103.6150  99.270810
103                   Somalia       424.50   98.3130        NaN
104              South Africa         9.25  102.8280  98.176674
105               South Sudan        14.25  102.1215        NaN
106                     Spain         2.25  105.4055  99.573015
107                 Sri Lanka         8.50   97.7460  97.874597
108                     Sudan        70.25  102.1215  87.287010
109                    Sweden         2.25  103.8100        NaN
110               Switzerland         1.25   99.2980        NaN
111                     Syria       207.75  103.2330  95.284530
112                    Taiwan         0.50  107.9640        NaN
113                Tajikistan         1.50   96.3685  99.868600
114                  Tanzania         4.50  101.1035  74.560521
115                  Thailand       341.75   98.3260  98.050914
116       Trinidad and Tobago         0.75   98.7505  99.567720
117                   Tunisia        14.00  101.6175  96.755223
118                    Turkey        93.25  102.5605  97.233968
119              Turkmenistan         0.25   99.3945  99.831610
120                    Uganda         1.50  102.3270  85.737238
121                   Ukraine       226.25   98.5970  99.775370
122      United Arab Emirates         0.75  237.9485  95.006451
123            United Kingdom        84.50  101.7735        NaN
124             United States        14.25  102.6750        NaN
125                 Venezuela         1.25  101.2765  98.466039
126  West Bank and Gaza Strip        60.25  105.2455        NaN
127                     Yemen       403.50  102.9625        NaN
128                  Zimbabwe         1.50   98.3705  90.930702

[129 rows x 4 columns]

In [29]:
data2[data2.literacy.isnull()]

                              country  avg_attacks  sexratio  literacy
0                         Afghanistan      1288.25  108.9140       NaN
5                           Australia         2.00  101.4740       NaN
6                             Austria         0.75  102.1110       NaN
8                             Bahamas         0.25   96.3805       NaN
12                            Belgium         0.75  101.8855       NaN
13                             Belize         0.25  102.4845       NaN
16                 Bosnia-Herzegovina         1.25   95.9685       NaN
23                             Canada         1.75  102.8465       NaN
24           Central African Republic        30.00   98.3910       NaN
31                     Czech Republic         1.75  106.2650       NaN
32   Democratic Republic of the Congo        43.00  106.2650       NaN
33                            Denmark         0.25  103.1900       NaN
34                           Djibouti         0.25  101.3740       NaN
35                 Dominican Republic         0.50  100.0310       NaN
41                             France        24.25  101.7750       NaN
43                            Germany         6.25  104.0115       NaN
51                            Iceland         0.50  112.4065       NaN
56                            Ireland        23.00  103.1825       NaN
57                             Israel       111.75  102.8370       NaN
59                        Ivory Coast         6.00  103.4160       NaN
61                              Japan         1.25  103.4265       NaN
65                             Kosovo         3.75  103.6150       NaN
72                          Macedonia         1.00  104.8620       NaN
86                        Netherlands         0.75  102.5570       NaN
87                        New Zealand         0.25   99.1950       NaN
91                             Norway         0.75  103.2155       NaN
97              Republic of the Congo         0.25  104.8620       NaN
103                           Somalia       424.50   98.3130       NaN
105                       South Sudan        14.25  102.1215       NaN
109                            Sweden         2.25  103.8100       NaN
110                       Switzerland         1.25   99.2980       NaN
112                            Taiwan         0.50  107.9640       NaN
123                    United Kingdom        84.50  101.7735       NaN
124                     United States        14.25  102.6750       NaN
126          West Bank and Gaza Strip        60.25  105.2455       NaN
127                             Yemen       403.50  102.9625       NaN

In [30]:
# manual insertion
data2.literacy[16] = lit.avg[24]  # Bosnia and Herzegovina
data2.literacy[24] = lit.avg[37]  # Central African Republic
data2.literacy[24] = lit.avg[43]  # Democratic Republic of the Congo
data2.literacy[35] = lit.avg[55]  # Dominican Republic
data2.literacy[59] = lit.avg[47]  # Ivory Coast
data2.literacy[72] = lit.avg[111]  # Macedonia
data2.literacy[126] = lit.avg[204]  # West Bank and Gaza
data2.literacy[127] = lit.avg[206]  # Yemen

In [31]:
print lit.literacy[24]
print lit.literacy[37]
print lit.literacy[43]
print lit.literacy[55]
print lit.literacy[47]
print lit.literacy[111]
print lit.literacy[204]
print lit.literacy[206]

Bosnia and Herzegovina
Central African Rep.
Congo, Dem. Rep.
Dominican Rep.
Cote d'Ivoire
Macedonia, FYR
West Bank and Gaza
Yemen, Rep.

In [32]:
## we didn't get them all
data2[data2.literacy.isnull()]

                              country  avg_attacks  sexratio  literacy
0                         Afghanistan      1288.25  108.9140       NaN
5                           Australia         2.00  101.4740       NaN
6                             Austria         0.75  102.1110       NaN
8                             Bahamas         0.25   96.3805       NaN
12                            Belgium         0.75  101.8855       NaN
13                             Belize         0.25  102.4845       NaN
23                             Canada         1.75  102.8465       NaN
31                     Czech Republic         1.75  106.2650       NaN
32   Democratic Republic of the Congo        43.00  106.2650       NaN
33                            Denmark         0.25  103.1900       NaN
34                           Djibouti         0.25  101.3740       NaN
41                             France        24.25  101.7750       NaN
43                            Germany         6.25  104.0115       NaN
51                            Iceland         0.50  112.4065       NaN
56                            Ireland        23.00  103.1825       NaN
57                             Israel       111.75  102.8370       NaN
61                              Japan         1.25  103.4265       NaN
65                             Kosovo         3.75  103.6150       NaN
86                        Netherlands         0.75  102.5570       NaN
87                        New Zealand         0.25   99.1950       NaN
91                             Norway         0.75  103.2155       NaN
97              Republic of the Congo         0.25  104.8620       NaN
103                           Somalia       424.50   98.3130       NaN
105                       South Sudan        14.25  102.1215       NaN
109                            Sweden         2.25  103.8100       NaN
110                       Switzerland         1.25   99.2980       NaN
112                            Taiwan         0.50  107.9640       NaN
123                    United Kingdom        84.50  101.7735       NaN
124                     United States        14.25  102.6750       NaN

<div class="alert alert-warning">
Note that we may be able to impute a handful of these values in a manner similar to what we did for the previous section, but this one has a lot more elements without data.  So we may want to consider whether we want to keep this or not, or find a better source of data.
</div>

## territorial change

<div class="alert alert-warning">
These cleaning steps are based on algorithm provided separately. <br><p>

1. If gainer & loser are both NOT (-9), we record one entry for (gainer, gaintype) and one entry for (loser, losetype), and add gaintype/losetype value (if not -9) to the value of conflict to obtain a score. If one of gainer & loser is (-9), we only have one entry, but we add gaintype/losetype value to the value of conflict in the same way. Only entries 1950 and onwards contribute to the score for each entity. We accumulate all such scores for each entity in its respective counter. (Step 1 and Step 2 of algorithm combined). <b>NOTE: we are adding +1 to each of gaintype and losetype when computing the score for each entity, per entry.</b>
</div>

In [33]:
confraw = pd.read_csv('data/conflict.csv')
confraw

     year  gainer  gaintype  loser  losetype  conflict
0    1816     160         1    230         0         0
1    1816     200         0    790         1         1
2    1816     200         0     -9         1         0
3    1817     220         0    200         0         0
4    1817     365         1     -9         1         1
5    1818       2         1    200         0         0
6    1818     155         1    230         0         1
7    1818     200         0      2         1         0
8    1818     200         0     -9         1         1
9    1818     200         0     -9         1         0
10   1818     640         1     -9         1         1
11   1819       2         1    230         0         0
12   1819     100         1    230         0         0
13   1819     220         0    580         1         0
14   1821      42         1    230         0         0
15   1821      70         1    230         0         0
16   1821     100         1    230         0         1
17   1821     135         1    230         0         0
18   1821     235         0    230         0         0
19   1822     100         1    230         0         1
20   1822     640         1     -9         1         1
21   1824     140         1    235         0         0
22   1824     200         0     -9         1         0
23   1824     200         0    210         0         0
24   1824     210         0    200         0         0
25   1825     145         1    230         0         0
26   1825     200         0     -9         1         0
27   1825     580         1    220         0         0
28   1825     616         1    640         0         0
29   1826     200         0     -9         1         0
..    ...     ...       ...    ...       ...       ...
807  1993     316         1    315         1         0
808  1993     317         1    315         1         0
809  1993     531         1    530         1         1
810  1993     690         1    645         1         0
811  1994     565         1    560         0         0
812  1994     986         1      2         0         0
813  1995     663         1    666         1         0
814  1996     710         1    365         1         0
815  1997     316         1    317         1         0
816  1997     317         1    316         1         0
817  1997     710         1    200         0         0
818  1998     710         1    705         1         0
819  1998     369         1    359         1         0
820  1998     359         1    369         1         0
821  1999     365         1    366         1         0
822  1999     366         1    365         1         0
823  1999       1        -9    850         1         1
824  1999     710         1    235         0         0
825  1991     571         1     -9        -9         0
826  2000     651         1    625         1         0
827  2002     860         1      1        -9         0
828  2003     475         1    471         1         0
829  2003     471         1    475         1         0
830  2004     679         1    670         1         1
831  2006     348         1    345         1         0
832  2008     471         1    475         1         1
833  2008     710         1    365         1         0
834  2011     710         1    702         1         0
835  2011     626         1    625         1         1
836  2014     365         1    369         1         1

[837 rows x 6 columns]

In [34]:
print min(confraw.gainer)
print max(confraw.gainer)
print min(confraw.loser)
print max(confraw.loser)
print min(confraw.gaintype)
print max(confraw.gaintype)
print min(confraw.losetype)
print max(confraw.losetype)
print min(confraw.conflict)
print max(confraw.conflict)

0
990
-9
7693
-9
1
-9
1
0
1

In [35]:
# set up counter for scores by entity code, as dictionary
scoredict = {}

In [36]:
# increment score of each entity (2 per row unless blank), row-by-row, ____type + conflict
for i in range(confraw.shape[0]):
    # only use records >= 1950 for score (but keep all records for history of entities)
    if confraw.year[i]>=1950 and confraw.gainer[i]>0 and confraw.gaintype[i]>=0:
        if confraw.gainer[i] in scoredict:
            scoredict[confraw.gainer[i]] += confraw.gaintype[i] + confraw.conflict[i] + 1
        else:
            scoredict[confraw.gainer[i]] = confraw.gaintype[i] + confraw.conflict[i] + 1
    if confraw.year[i]>=1950 and confraw.loser[i]>0 and confraw.losetype[i]>=0:
        if confraw.loser[i] in scoredict:
            scoredict[confraw.loser[i]] += confraw.losetype[i] + confraw.conflict[i] + 1
        else:
            scoredict[confraw.loser[i]] = confraw.losetype[i] + confraw.conflict[i] + 1

In [37]:
# take a look at dictionary
scoredict.items()[0:10]

[(2, 12),
 (516, 2),
 (517, 2),
 (520, 4),
 (522, 2),
 (530, 5),
 (531, 3),
 (540, 3),
 (541, 2),
 (31, 2)]

<div class="alert alert-warning">
2. We now process the file `entities`. For each unique entity number, we capture the latest (in time) entry, many of which may represent the entity being subsumed under another entity number. We record all such mappings from one entity (which may no longer exist) to another (usually a currently existing country). We also "self-map" current entities in the `COWcountrycodes`, and record that as a mapping.
</div>

In [38]:
entities = pd.read_csv('data/entities.csv')
entities

      number                                               name  begin   end                    polstat
0          3                                            Alaska    1816  1867      Became colony of 365
1          3                                            Alaska    1867  1959        Became colony of 2
2          3                                            Alaska    1959  1993          Became part of 2
3          4                                            Hawaii    1898  1960        Became colony of 2
4          4                                            Hawaii    1960  1993          Became part of 2
5          5                                    Virgin Islands    1816  1917      Became colony of 390
6          5                                    Virgin Islands    1917  1993        Became colony of 2
7          6                                       Puerto Rico    1816  1821       Became part of 1070
8          6                                       Puerto Rico    1821  1898      Became colony of 230
9          6                                       Puerto Rico    1898  1952        Became colony of 2
10         7                                             Texas    1816  1836         Became part of 70
11         7                                             Texas    1845  1861          Became part of 2
12         7                                             Texas    1861  1865       Became part of 1002
13         7                                             Texas    1865  1993          Became part of 2
14        10                                         Greenland    1816  1953      Became colony of 390
15        10                                         Greenland    1941  1945             Occupied by 2
16        11                                        Faeroe Is.    1816  1947      Became colony of 390
17        11                                        Faeroe Is.    1940  1945           Occupied by 200
18        20                                            Canada    1816  1841       Became part of 1025
19        20                                            Canada    1841  1919      Became colony of 200
20        21                                      Newfoundland    1816  1920      Became colony of 200
21        21                                      Newfoundland    1933  1949      Became colony of 200
22        21                                      Newfoundland    1949  1993         Became part of 20
23        30                                           Bermuda    1816  1993      Became colony of 200
24        31                                           Bahamas    1816  1973      Became colony of 200
25        40                                              Cuba    1816  1821       Became part of 1070
26        40                                              Cuba    1816  1898      Became colony of 230
27        40                                              Cuba    1898  1902             Occupied by 2
28        40                                              Cuba    1906  1909             Occupied by 2
29        41                                             Haiti    1915  1934             Occupied by 2
...      ...                                                ...    ...   ...                        ...
2676    9960                    Australian Antarctic Territory    1933  1993            Claimed by 900
2677    9970  French and Southern Antarctic Territories (F.S...   1955  1993  Became possession of 220
2678    9971                                       Adelie Land    1840  1955            Claimed by 220
2679    9971                                       Adelie Land    1955  1993       Became part of 9970
2680    9972                    St. Paul and New Amsterdam Is.    1843  1955  Became possession of 220
2681    9972                    St. Paul and New Amsterdam Is.    1955  1993       Became part of 9970
2682    9973                                     Kerguelen Is.    1893  1955  Became possession of 220
2683    9973                                     Kerguelen Is.    1955  1993       Became part of 9970
2684    9974                                        Crozet Is.    1816  1955  Became possession of 220
2685    9974                                        Crozet Is.    1955  1993       Became part of 9970
2686    9980                       British Antarctic Territory    1962  1993  Became possession of 200
2687    9981                        Palmer Antarctic Territory    1908  1962           Claimed by 1163
2688    9981                        Palmer Antarctic Territory    1962  1993       Became part of 9980
2689    9982                                  South Orkney Is.    1821  1833  Became possession of 200
2690    9982                                  South Orkney Is.    1833  1962       Became part of 1163
2691    9982                                  South Orkney Is.    1962  1993       Became part of 9980
2692    9983                                South Shetland Is.    1819  1833  Became possession of 200
2693    9983                                South Shetland Is.    1833  1962       Became part of 1163
2694    9983                                South Shetland Is.    1962  1993       Became part of 9980
2695    9984                                South Sandwich Is.    1816  1833  Became possession of 200
2696    9984                                South Sandwich Is.    1833  1962       Became part of 1163
2697    9984                                South Sandwich Is.    1962  1985       Became part of 9980
2698    9984                                South Sandwich Is.    1985  1993       Became part of 1165
2699    9985                              Argentine Antarctica    1942  1993            Claimed by 160
2700    9986                                Chilean Antarctica    1940  1993            Claimed by 155
2701    9987                                  Neu Schwabenland    1939  1945            Claimed by 255
2702    9991                                        Peter I I.    1931  1993  Became possession of 385
2703    9992                                   Queen Maud Land    1939  1993            Claimed by 385
2704    9993                                         Bouvet I.    1927  1993  Became possession of 385
2705    9994                                   Ross Dependency    1923  1993            Claimed by 920

[2706 rows x 5 columns]

In [39]:
# read COW codes -- note duplicate codes
cow = pd.read_csv('data/cowcodes.csv')

# mapping for entity code names, keep unique
cowcode = {}
for i in range(cow.shape[0]):
    if cow.CCode[i] not in cowcode:
        cowcode[cow.CCode[i]] = cow.StateNme[i]

sorted(cowcode.items())

[(2, 'United States of America'),
 (20, 'Canada'),
 (31, 'Bahamas'),
 (40, 'Cuba'),
 (41, 'Haiti'),
 (42, 'Dominican Republic'),
 (51, 'Jamaica'),
 (52, 'Trinidad and Tobago'),
 (53, 'Barbados'),
 (54, 'Dominica'),
 (55, 'Grenada'),
 (56, 'St. Lucia'),
 (57, 'St. Vincent and the Grenadines'),
 (58, 'Antigua & Barbuda'),
 (60, 'St. Kitts and Nevis'),
 (70, 'Mexico'),
 (80, 'Belize'),
 (90, 'Guatemala'),
 (91, 'Honduras'),
 (92, 'El Salvador'),
 (93, 'Nicaragua'),
 (94, 'Costa Rica'),
 (95, 'Panama'),
 (100, 'Colombia'),
 (101, 'Venezuela'),
 (110, 'Guyana'),
 (115, 'Suriname'),
 (130, 'Ecuador'),
 (135, 'Peru'),
 (140, 'Brazil'),
 (145, 'Bolivia'),
 (150, 'Paraguay'),
 (155, 'Chile'),
 (160, 'Argentina'),
 (165, 'Uruguay'),
 (200, 'United Kingdom'),
 (205, 'Ireland'),
 (210, 'Netherlands'),
 (211, 'Belgium'),
 (212, 'Luxembourg'),
 (220, 'France'),
 (221, 'Monaco'),
 (223, 'Liechtenstein'),
 (225, 'Switzerland'),
 (230, 'Spain'),
 (232, 'Andorra'),
 (235, 'Portugal'),
 (240, 'Hanover'),
 (245, 'Bavaria'),
 (255, 'Germany'),
 (260, 'German Federal Republic'),
 (265, 'German Democratic Republic'),
 (267, 'Baden'),
 (269, 'Saxony'),
 (271, 'Wuerttemburg'),
 (273, 'Hesse Electoral'),
 (275, 'Hesse Grand Ducal'),
 (280, 'Mecklenburg Schwerin'),
 (290, 'Poland'),
 (300, 'Austria-Hungary'),
 (305, 'Austria'),
 (310, 'Hungary'),
 (315, 'Czechoslovakia'),
 (316, 'Czech Republic'),
 (317, 'Slovakia'),
 (325, 'Italy'),
 (327, 'Papal States'),
 (329, 'Two Sicilies'),
 (331, 'San Marino'),
 (332, 'Modena'),
 (335, 'Parma'),
 (337, 'Tuscany'),
 (338, 'Malta'),
 (339, 'Albania'),
 (341, 'Montenegro'),
 (343, 'Macedonia'),
 (344, 'Croatia'),
 (345, 'Yugoslavia'),
 (346, 'Bosnia and Herzegovina'),
 (347, 'Kosovo'),
 (349, 'Slovenia'),
 (350, 'Greece'),
 (352, 'Cyprus'),
 (355, 'Bulgaria'),
 (359, 'Moldova'),
 (360, 'Romania'),
 (365, 'Russia'),
 (366, 'Estonia'),
 (367, 'Latvia'),
 (368, 'Lithuania'),
 (369, 'Ukraine'),
 (370, 'Belarus'),
 (371, 'Armenia'),
 (372, 'Georgia'),
 (373, 'Azerbaijan'),
 (375, 'Finland'),
 (380, 'Sweden'),
 (385, 'Norway'),
 (390, 'Denmark'),
 (395, 'Iceland'),
 (402, 'Cape Verde'),
 (403, 'Sao Tome and Principe'),
 (404, 'Guinea-Bissau'),
 (411, 'Equatorial Guinea'),
 (420, 'Gambia'),
 (432, 'Mali'),
 (433, 'Senegal'),
 (434, 'Benin'),
 (435, 'Mauritania'),
 (436, 'Niger'),
 (437, 'Ivory Coast'),
 (438, 'Guinea'),
 (439, 'Burkina Faso'),
 (450, 'Liberia'),
 (451, 'Sierra Leone'),
 (452, 'Ghana'),
 (461, 'Togo'),
 (471, 'Cameroon'),
 (475, 'Nigeria'),
 (481, 'Gabon'),
 (482, 'Central African Republic'),
 (483, 'Chad'),
 (484, 'Congo'),
 (490, 'Democratic Republic of the Congo'),
 (500, 'Uganda'),
 (501, 'Kenya'),
 (510, 'Tanzania'),
 (511, 'Zanzibar'),
 (516, 'Burundi'),
 (517, 'Rwanda'),
 (520, 'Somalia'),
 (522, 'Djibouti'),
 (530, 'Ethiopia'),
 (531, 'Eritrea'),
 (540, 'Angola'),
 (541, 'Mozambique'),
 (551, 'Zambia'),
 (552, 'Zimbabwe'),
 (553, 'Malawi'),
 (560, 'South Africa'),
 (565, 'Namibia'),
 (570, 'Lesotho'),
 (571, 'Botswana'),
 (572, 'Swaziland'),
 (580, 'Madagascar'),
 (581, 'Comoros'),
 (590, 'Mauritius'),
 (591, 'Seychelles'),
 (600, 'Morocco'),
 (615, 'Algeria'),
 (616, 'Tunisia'),
 (620, 'Libya'),
 (625, 'Sudan'),
 (626, 'South Sudan'),
 (630, 'Iran'),
 (640, 'Turkey'),
 (645, 'Iraq'),
 (651, 'Egypt'),
 (652, 'Syria'),
 (660, 'Lebanon'),
 (663, 'Jordan'),
 (666, 'Israel'),
 (670, 'Saudi Arabia'),
 (678, 'Yemen Arab Republic'),
 (679, 'Yemen'),
 (680, "Yemen People's Republic"),
 (690, 'Kuwait'),
 (692, 'Bahrain'),
 (694, 'Qatar'),
 (696, 'United Arab Emirates'),
 (698, 'Oman'),
 (700, 'Afghanistan'),
 (701, 'Turkmenistan'),
 (702, 'Tajikistan'),
 (703, 'Kyrgyzstan'),
 (704, 'Uzbekistan'),
 (705, 'Kazakhstan'),
 (710, 'China'),
 (712, 'Mongolia'),
 (713, 'Taiwan'),
 (730, 'Korea'),
 (731, 'North Korea'),
 (732, 'South Korea'),
 (740, 'Japan'),
 (750, 'India'),
 (760, 'Bhutan'),
 (770, 'Pakistan'),
 (771, 'Bangladesh'),
 (775, 'Myanmar'),
 (780, 'Sri Lanka'),
 (781, 'Maldives'),
 (790, 'Nepal'),
 (800, 'Thailand'),
 (811, 'Cambodia'),
 (812, 'Laos'),
 (816, 'Vietnam'),
 (817, 'Republic of Vietnam'),
 (820, 'Malaysia'),
 (830, 'Singapore'),
 (835, 'Brunei'),
 (840, 'Philippines'),
 (850, 'Indonesia'),
 (860, 'East Timor'),
 (900, 'Australia'),
 (910, 'Papua New Guinea'),
 (920, 'New Zealand'),
 (935, 'Vanuatu'),
 (940, 'Solomon Islands'),
 (946, 'Kiribati'),
 (947, 'Tuvalu'),
 (950, 'Fiji'),
 (955, 'Tonga'),
 (970, 'Nauru'),
 (983, 'Marshall Islands'),
 (986, 'Palau'),
 (987, 'Federated States of Micronesia'),
 (990, 'Samoa')]

In [40]:
# we take advantage of the fact that the latest event for an entity is the last entry
# for that entity number. We also need only keep the entity number in the first column,
# and the entity referenced in the final column
# we store mapping in a dictionary of {first entity number: last referenced entity number}

def extractentity(s):
    # given a string s, extract the entity number referenced at the end of the string
    suffix = s
    for i in range(len(s)):
        try:
            a = int(suffix)
            return int(suffix)
        except:
            suffix = suffix[1:]
       
entitymap = {}

for i in range(entities.shape[0]):
    if i==(entities.shape[0]-1) or entities.number[i]!=entities.number[i+1]:
        # last entry for that entity number
        entitymap[int(entities.number[i])] = extractentity(entities.polstat[i])
        
terractivitylist = sorted(entitymap.items())
terractivitylist[0:10]  # print first 10 items

[(3, 2),
 (4, 2),
 (5, 2),
 (6, 2),
 (7, 2),
 (10, 2),
 (11, 200),
 (20, 200),
 (21, 20),
 (30, 200)]

In [41]:
# get list of all unique entities in the last element of the tuple
absorbingentities = list(set(entitymap.values()))

# add up all territorial change scores (scoredict) for each entity 
# in the first element of the tuple, but assigned to the counter
# associated with the last element of the tuple -- thus all of
# the territorial activity associated with the history of the
# final entity is reflected in the cumulative score 

# we also replace with country name

terrcounter = {}
for item in terractivitylist:
    
    (old, new) = item
    errorflag = False
    
    while True:
        if new in cowcode:
            break
        else:
            # second and third+ order transitions A -> [B+] -> C
            if new in entitymap:
                new = entitymap[new] # loop again
            else:
               print "no code found for %i -- record skipped" % new
               errorflag = True
               break
    
    if not errorflag:
        if (cowcode[new] in terrcounter) and (old in scoredict):
            terrcounter[cowcode[new]] += scoredict[old]
        elif (old in scoredict):
            terrcounter[cowcode[new]] = scoredict[old]

# add scores for countries in COW codes in as well
for i in range(cow.shape[0]):
    if (cowcode[cow.CCode[i]] in terrcounter) and (cow.CCode[i] in scoredict):
        terrcounter[cowcode[cow.CCode[i]]] += scoredict[cow.CCode[i]]
    elif (cow.CCode[i] in scoredict):
        terrcounter[cowcode[cow.CCode[i]]] = scoredict[cow.CCode[i]]
    else:
        terrcounter[cowcode[cow.CCode[i]]] = 0  # no events past 1950

no code found for 263 -- record skipped
no code found for 9999 -- record skipped
no code found for 9999 -- record skipped
no code found for 9999 -- record skipped
no code found for 5630 -- record skipped
no code found for 5630 -- record skipped
no code found for 5630 -- record skipped

In [42]:
sorted(terrcounter.items())

[('Afghanistan', 0),
 ('Albania', 0),
 ('Algeria', 3),
 ('Andorra', 0),
 ('Angola', 3),
 ('Antigua & Barbuda', 2),
 ('Argentina', 2),
 ('Armenia', 2),
 ('Australia', 8),
 ('Austria', 4),
 ('Austria-Hungary', 0),
 ('Azerbaijan', 2),
 ('Baden', 0),
 ('Bahamas', 2),
 ('Bahrain', 2),
 ('Bangladesh', 5),
 ('Barbados', 2),
 ('Bavaria', 0),
 ('Belarus', 2),
 ('Belgium', 12),
 ('Belize', 2),
 ('Benin', 4),
 ('Bhutan', 0),
 ('Bolivia', 0),
 ('Bosnia and Herzegovina', 3),
 ('Botswana', 4),
 ('Brazil', 0),
 ('Brunei', 2),
 ('Bulgaria', 0),
 ('Burkina Faso', 5),
 ('Burundi', 6),
 ('Cambodia', 2),
 ('Cameroon', 11),
 ('Canada', 0),
 ('Cape Verde', 2),
 ('Central African Republic', 2),
 ('Chad', 4),
 ('Chile', 2),
 ('China', 24),
 ('Colombia', 2),
 ('Comoros', 4),
 ('Congo', 2),
 ('Costa Rica', 0),
 ('Croatia', 3),
 ('Cuba', 0),
 ('Cyprus', 5),
 ('Czech Republic', 10),
 ('Czechoslovakia', 20),
 ('Democratic Republic of the Congo', 2),
 ('Denmark', 0),
 ('Djibouti', 2),
 ('Dominica', 2),
 ('Dominican Republic', 0),
 ('East Timor', 2),
 ('Ecuador', 0),
 ('Egypt', 48),
 ('El Salvador', 2),
 ('Equatorial Guinea', 4),
 ('Eritrea', 3),
 ('Estonia', 12),
 ('Ethiopia', 13),
 ('Federated States of Micronesia', 2),
 ('Fiji', 2),
 ('Finland', 0),
 ('France', 137),
 ('Gabon', 8),
 ('Gambia', 2),
 ('Georgia', 2),
 ('German Democratic Republic', 4),
 ('German Federal Republic', 10),
 ('Germany', 122),
 ('Ghana', 4),
 ('Greece', 0),
 ('Grenada', 2),
 ('Guatemala', 0),
 ('Guinea', 2),
 ('Guinea-Bissau', 2),
 ('Guyana', 2),
 ('Haiti', 0),
 ('Hanover', 0),
 ('Hesse Electoral', 0),
 ('Hesse Grand Ducal', 0),
 ('Honduras', 6),
 ('Hungary', 0),
 ('Iceland', 0),
 ('India', 55),
 ('Indonesia', 10),
 ('Iran', 5),
 ('Iraq', 16),
 ('Ireland', 0),
 ('Israel', 24),
 ('Italy', 8),
 ('Ivory Coast', 2),
 ('Jamaica', 2),
 ('Japan', 49),
 ('Jordan', 9),
 ('Kazakhstan', 4),
 ('Kenya', 2),
 ('Kiribati', 2),
 ('Korea', 0),
 ('Kosovo', 0),
 ('Kuwait', 8),
 ('Kyrgyzstan', 2),
 ('Laos', 2),
 ('Latvia', 4),
 ('Lebanon', 0),
 ('Lesotho', 2),
 ('Liberia', 0),
 ('Libya', 6),
 ('Liechtenstein', 0),
 ('Lithuania', 4),
 ('Luxembourg', 0),
 ('Macedonia', 2),
 ('Madagascar', 2),
 ('Malawi', 2),
 ('Malaysia', 11),
 ('Maldives', 2),
 ('Mali', 14),
 ('Malta', 2),
 ('Marshall Islands', 2),
 ('Mauritania', 6),
 ('Mauritius', 2),
 ('Mecklenburg Schwerin', 0),
 ('Mexico', 2),
 ('Modena', 0),
 ('Moldova', 6),
 ('Monaco', 0),
 ('Mongolia', 0),
 ('Montenegro', 0),
 ('Morocco', 28),
 ('Mozambique', 2),
 ('Myanmar', 2),
 ('Namibia', 5),
 ('Nauru', 2),
 ('Nepal', 2),
 ('Netherlands', 12),
 ('New Zealand', 3),
 ('Nicaragua', 3),
 ('Niger', 2),
 ('Nigeria', 11),
 ('North Korea', 0),
 ('Norway', 0),
 ('Oman', 7),
 ('Pakistan', 28),
 ('Palau', 2),
 ('Panama', 2),
 ('Papal States', 0),
 ('Papua New Guinea', 2),
 ('Paraguay', 0),
 ('Parma', 0),
 ('Peru', 0),
 ('Philippines', 0),
 ('Poland', 8),
 ('Portugal', 22),
 ('Qatar', 2),
 ('Republic of Vietnam', 6),
 ('Romania', 0),
 ('Russia', 99),
 ('Rwanda', 2),
 ('Samoa', 2),
 ('San Marino', 0),
 ('Sao Tome and Principe', 2),
 ('Saudi Arabia', 34),
 ('Saxony', 0),
 ('Senegal', 2),
 ('Seychelles', 3),
 ('Sierra Leone', 2),
 ('Singapore', 2),
 ('Slovakia', 6),
 ('Slovenia', 3),
 ('Solomon Islands', 2),
 ('Somalia', 8),
 ('South Africa', 8),
 ('South Korea', 0),
 ('South Sudan', 3),
 ('Spain', 10),
 ('Sri Lanka', 2),
 ('St. Kitts and Nevis', 6),
 ('St. Lucia', 2),
 ('St. Vincent and the Grenadines', 2),
 ('Sudan', 7),
 ('Suriname', 2),
 ('Swaziland', 2),
 ('Sweden', 0),
 ('Switzerland', 0),
 ('Syria', 24),
 ('Taiwan', 3),
 ('Tajikistan', 4),
 ('Tanzania', 8),
 ('Thailand', 0),
 ('Togo', 2),
 ('Tonga', 2),
 ('Trinidad and Tobago', 2),
 ('Tunisia', 4),
 ('Turkey', 5),
 ('Turkmenistan', 2),
 ('Tuscany', 0),
 ('Tuvalu', 2),
 ('Two Sicilies', 0),
 ('Uganda', 2),
 ('Ukraine', 9),
 ('United Arab Emirates', 13),
 ('United Kingdom', 280),
 ('United States of America', 35),
 ('Uruguay', 0),
 ('Uzbekistan', 2),
 ('Vanuatu', 2),
 ('Venezuela', 0),
 ('Vietnam', 16),
 ('Wuerttemburg', 0),
 ('Yemen', 17),
 ('Yemen Arab Republic', 11),
 ("Yemen People's Republic", 6),
 ('Yugoslavia', 43),
 ('Zambia', 6),
 ('Zanzibar', 4),
 ('Zimbabwe', 2)]

In [43]:
len(terrcounter)

217

<div class="alert alert-warning">
3. We have mapped the country name to the entity codes, and summed the 1950+ territorial activity counts. We now add this data to our dataframe.
</div>

In [44]:
data2["territory"]=float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    if name in terrcounter:
        data2.territory[i] = terrcounter[name]

data2

                      country  avg_attacks  sexratio   literacy  territory
0                 Afghanistan      1288.25  108.9140        NaN          0
1                     Albania         0.75   96.7730  98.811199          0
2                     Algeria        22.75  103.0800  91.779641          3
3                   Argentina         1.25  101.3305  99.215080          2
4                     Armenia         0.25   88.8890  99.756760          2
5                   Australia         2.00  101.4740        NaN          8
6                     Austria         0.75  102.1110        NaN          4
7                  Azerbaijan         0.75   94.7420  99.975648          2
8                     Bahamas         0.25   96.3805        NaN          2
9                     Bahrain        29.75  142.3155  98.163596          2
10                 Bangladesh        74.75  102.5425  78.705770          5
11                    Belarus         1.00   98.4350  99.823213          2
12                    Belgium         0.75  101.8855        NaN         12
13                     Belize         0.25  102.4845        NaN          2
14                     Bhutan         0.50  116.5220  74.405207          0
15                    Bolivia         0.25  100.4045  99.315944          0
16         Bosnia-Herzegovina         1.25   95.9685  99.697600        NaN
17                     Brazil         1.75   98.5840  97.761244          0
18                   Bulgaria         2.00  103.5805  97.865054          0
19               Burkina Faso         0.25  100.7155  36.112199          5
20                    Burundi         4.75   97.6745  88.886367          6
21                   Cambodia         0.50   99.0405  87.301918          2
22                   Cameroon        18.25  101.7865  81.855007         11
23                     Canada         1.75  102.8465        NaN          0
24   Central African Republic        30.00   98.3910  65.776528          2
25                       Chad         0.25   99.9630  47.888400          4
26                      Chile         7.25  101.2520  99.012979          2
27                      China        14.25  107.9640  99.642290         24
28                   Colombia       146.50   97.5815  98.010670          2
29                    Croatia         0.50  102.1120  99.645820          3
..                        ...          ...       ...        ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2
100              Saudi Arabia         7.00  125.4700  98.020180         34
101                   Senegal         5.25   97.0770  57.933281          2
102                    Serbia         0.75  103.6150  99.270810        NaN
103                   Somalia       424.50   98.3130        NaN          8
104              South Africa         9.25  102.8280  98.176674          8
105               South Sudan        14.25  102.1215        NaN          3
106                     Spain         2.25  105.4055  99.573015         10
107                 Sri Lanka         8.50   97.7460  97.874597          2
108                     Sudan        70.25  102.1215  87.287010          7
109                    Sweden         2.25  103.8100        NaN          0
110               Switzerland         1.25   99.2980        NaN          0
111                     Syria       207.75  103.2330  95.284530         24
112                    Taiwan         0.50  107.9640        NaN          3
113                Tajikistan         1.50   96.3685  99.868600          4
114                  Tanzania         4.50  101.1035  74.560521          8
115                  Thailand       341.75   98.3260  98.050914          0
116       Trinidad and Tobago         0.75   98.7505  99.567720          2
117                   Tunisia        14.00  101.6175  96.755223          4
118                    Turkey        93.25  102.5605  97.233968          5
119              Turkmenistan         0.25   99.3945  99.831610          2
120                    Uganda         1.50  102.3270  85.737238          2
121                   Ukraine       226.25   98.5970  99.775370          9
122      United Arab Emirates         0.75  237.9485  95.006451         13
123            United Kingdom        84.50  101.7735        NaN        280
124             United States        14.25  102.6750        NaN        NaN
125                 Venezuela         1.25  101.2765  98.466039          0
126  West Bank and Gaza Strip        60.25  105.2455  99.181879        NaN
127                     Yemen       403.50  102.9625  86.368290         17
128                  Zimbabwe         1.50   98.3705  90.930702          2

[129 rows x 5 columns]

In [45]:
data2[data2.territory.isnull()]

                      country  avg_attacks  sexratio   literacy  territory
16         Bosnia-Herzegovina         1.25   95.9685  99.697600        NaN
97      Republic of the Congo         0.25  104.8620        NaN        NaN
102                    Serbia         0.75  103.6150  99.270810        NaN
124             United States        14.25  102.6750        NaN        NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879        NaN

In [46]:
# manual insertion
data2.territory[16] = terrcounter['Bosnia and Herzegovina']  
data2.territory[97] = terrcounter['Congo']  
data2.territory[102] = terrcounter['Yugoslavia']  # Serbia mapped under Yugoslavia in 'Entities'
data2.territory[124] = terrcounter['United States of America'] 
data2.territory[126] = terrcounter['Egypt']  # West Bank and Gaza mapped under Egypt in 'Entities'

In [47]:
# check that we have them all
data2[data2.territory.isnull()]

Empty DataFrame
Columns: [country, avg_attacks, sexratio, literacy, territory]
Index: []

<div class="alert alert-warning">
Note that we used the value from EGYPT for West Bank and Gaza, since that was last reflected in entities (via "Palestine"). However, as you know this is disputed.
</div>

## religious adherence

<div class="alert alert-info">
Note that we are treating (1- less than 0.1% as 0.999)
</div>

In [48]:
relig = pd.read_csv('data/nonrelig.csv')
relig

                      Country    aff
0                 Afghanistan  0.999
1                     Albania  0.986
2                     Algeria  0.982
3              American Samoa  0.993
4                     Andorra  0.912
5                      Angola  0.949
6                    Anguilla  0.960
7         Antigua and Barbuda  0.983
8                   Argentina  0.878
9                     Armenia  0.987
10                      Aruba  0.940
11                  Australia  0.758
12                    Austria  0.865
13                 Azerbaijan  0.999
14                    Bahamas  0.969
15                    Bahrain  0.981
16                 Bangladesh  0.999
17                   Barbados  0.981
18                    Belarus  0.714
19                    Belgium  0.710
20                     Belize  0.911
21                      Benin  0.950
22                    Bermuda  0.806
23                     Bhutan  0.999
24                    Bolivia  0.959
25         Bosnia-Herzegovina  0.975
26                   Botswana  0.794
27                     Brazil  0.921
28     British Virgin Islands  0.961
29                     Brunei  0.996
..                        ...    ...
202                Tajikistan  0.985
203                  Tanzania  0.986
204                  Thailand  0.997
205               Timor-Leste  0.999
206                      Togo  0.938
207                   Tokelau  0.999
208                     Tonga  0.999
209       Trinidad and Tobago  0.981
210                   Tunisia  0.998
211                    Turkey  0.988
212              Turkmenistan  0.995
213  Turks and Caicos Islands  0.954
214                    Tuvalu  0.987
215                    Uganda  0.995
216                   Ukraine  0.853
217      United Arab Emirates  0.989
218            United Kingdom  0.787
219             United States  0.836
220                   Uruguay  0.593
221       U.S. Virgin Islands  0.963
222                Uzbekistan  0.992
223                   Vanuatu  0.988
224              Vatican City  0.999
225                 Venezuela  0.900
226                   Vietnam  0.704
227         Wallis and Futuna  0.994
228            Western Sahara  0.996
229                     Yemen  0.999
230                    Zambia  0.995
231                  Zimbabwe  0.921

[232 rows x 2 columns]

In [49]:
data2["proprelig"]=float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(relig.shape[0]):
        if relig.Country[j]==name:
            data2.proprelig[i] = relig.aff[j]*1.0
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999
1                     Albania         0.75   96.7730  98.811199          0      0.986
2                     Algeria        22.75  103.0800  91.779641          3      0.982
3                   Argentina         1.25  101.3305  99.215080          2      0.878
4                     Armenia         0.25   88.8890  99.756760          2      0.987
5                   Australia         2.00  101.4740        NaN          8      0.758
6                     Austria         0.75  102.1110        NaN          4      0.865
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999
8                     Bahamas         0.25   96.3805        NaN          2      0.969
9                     Bahrain        29.75  142.3155  98.163596          2      0.981
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999
11                    Belarus         1.00   98.4350  99.823213          2      0.714
12                    Belgium         0.75  101.8855        NaN         12      0.710
13                     Belize         0.25  102.4845        NaN          2      0.911
14                     Bhutan         0.50  116.5220  74.405207          0      0.999
15                    Bolivia         0.25  100.4045  99.315944          0      0.959
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975
17                     Brazil         1.75   98.5840  97.761244          0      0.921
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996
20                    Burundi         4.75   97.6745  88.886367          6      0.999
21                   Cambodia         0.50   99.0405  87.301918          2      0.998
22                   Cameroon        18.25  101.7865  81.855007         11      0.947
23                     Canada         1.75  102.8465        NaN          0      0.763
24   Central African Republic        30.00   98.3910  65.776528          2      0.990
25                       Chad         0.25   99.9630  47.888400          4      0.975
26                      Chile         7.25  101.2520  99.012979          2      0.914
27                      China        14.25  107.9640  99.642290         24      0.478
28                   Colombia       146.50   97.5815  98.010670          2      0.934
29                    Croatia         0.50  102.1120  99.645820          3      0.949
..                        ...          ...       ...        ...        ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993
101                   Senegal         5.25   97.0770  57.933281          2      0.999
102                    Serbia         0.75  103.6150  99.270810         43      0.967
103                   Somalia       424.50   98.3130        NaN          8      0.999
104              South Africa         9.25  102.8280  98.176674          8      0.851
105               South Sudan        14.25  102.1215        NaN          3      0.995
106                     Spain         2.25  105.4055  99.573015         10      0.810
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999
108                     Sudan        70.25  102.1215  87.287010          7      0.990
109                    Sweden         2.25  103.8100        NaN          0      0.730
110               Switzerland         1.25   99.2980        NaN          0      0.881
111                     Syria       207.75  103.2330  95.284530         24      0.980
112                    Taiwan         0.50  107.9640        NaN          3      0.873
113                Tajikistan         1.50   96.3685  99.868600          4      0.985
114                  Tanzania         4.50  101.1035  74.560521          8      0.986
115                  Thailand       341.75   98.3260  98.050914          0      0.997
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981
117                   Tunisia        14.00  101.6175  96.755223          4      0.998
118                    Turkey        93.25  102.5605  97.233968          5      0.988
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995
120                    Uganda         1.50  102.3270  85.737238          2      0.995
121                   Ukraine       226.25   98.5970  99.775370          9      0.853
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989
123            United Kingdom        84.50  101.7735        NaN        280      0.787
124             United States        14.25  102.6750        NaN         35      0.836
125                 Venezuela         1.25  101.2765  98.466039          0      0.900
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48        NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921

[129 rows x 6 columns]

In [50]:
data2[data2.proprelig.isnull()]

                      country  avg_attacks  sexratio   literacy  territory  proprelig
48              Guinea-Bissau         0.25   98.7455  73.169620          2        NaN
72                  Macedonia         1.00  104.8620  98.670010          2        NaN
84                    Myanmar        11.75   95.9895  96.095900          2        NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48        NaN

In [51]:
# manual insertion
data2.proprelig[48] = relig.aff[85]  # Guinea-Bissau
data2.proprelig[72] = relig.aff[166]  # Macedonia
data2.proprelig[84] = relig.aff[32]  # Myanmar
data2.proprelig[126] = relig.aff[156]  # West Bank and Gaza Strip

In [52]:
print relig.Country[85]
print relig.Country[166]
print relig.Country[32]
print relig.Country[156]

Guinea Bissau
Republic of Macedonia
Burma (Myanmar)
Palestinian territories

In [53]:
# check we got them all
data2[data2.proprelig.isnull()]

Empty DataFrame
Columns: [country, avg_attacks, sexratio, literacy, territory, proprelig]
Index: []

## alcohol consumption

In [54]:
alc = pd.read_csv('data/alcohol.csv')
alc

                    Country   2005   2008
0               Afghanistan   0.02   0.03
1                   Albania   6.68   7.29
2                   Algeria   0.96   0.69
3                   Andorra  15.48  10.17
4                    Angola   5.40   5.57
5       Antigua and Barbuda   7.22   8.17
6                 Argentina  10.00   9.35
7                   Armenia  11.35  13.66
8                 Australia  10.02  10.21
9                   Austria  13.24  12.40
10               Azerbaijan  10.60  13.34
11                  Bahamas   8.76   8.65
12                  Bahrain   3.66   4.19
13               Bangladesh   0.17   0.17
14                 Barbados   6.91   6.42
15                  Belarus  15.13  18.85
16                  Belgium  10.77  10.41
17                   Belize   6.07   5.92
18                    Benin   2.15   2.08
19                   Bhutan   0.55   0.54
20                  Bolivia   5.12   5.78
21   Bosnia and Herzegovina   9.63   9.60
22                 Botswana   7.96   6.97
23                   Brazil   9.16  10.08
24                   Brunei   2.01   1.86
25                 Bulgaria  12.44  11.40
26             Burkina Faso   6.98   7.32
27                  Burundi   9.47   9.65
28                 Cambodia   4.77   4.71
29                 Cameroon   7.57   7.90
..                      ...    ...    ...
159                   Sudan   2.56   2.56
160                Suriname   6.09   6.56
161               Swaziland   5.70   5.05
162                  Sweden  10.10   9.50
163             Switzerland  11.06  11.41
164                   Syria   1.43   1.49
165              Tajikistan   3.39   3.39
166                Tanzania   6.75   7.86
167                Thailand   7.08   7.08
168             Timor-Leste   0.86   0.74
169                    Togo   1.99   1.92
170                   Tonga   3.78   3.92
171     Trinidad and Tobago   6.28   6.16
172                 Tunisia   1.29   1.05
173                  Turkey   2.87   3.02
174            Turkmenistan   4.63   5.00
175                  Tuvalu   2.44   2.14
176                  Uganda  11.93  16.40
177                 Ukraine  15.60  17.47
178    United Arab Emirates   0.54   0.52
179          United Kingdom  13.37  13.24
180           United States   9.44   9.70
181                 Uruguay   8.14   8.99
182              Uzbekistan   3.54   3.61
183                 Vanuatu   0.93   0.96
184               Venezuela   8.23   7.60
185                 Vietnam   3.77   3.91
186                   Yemen   0.20   0.20
187                  Zambia   3.85   3.56
188                Zimbabwe   5.08   4.96

[189 rows x 3 columns]

<div class="alert alert-info">
Note that we do not include missing values in calculating the row average.
</div>

In [55]:
data2["alcohol"]=float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(alc.shape[0]):
        if alc.Country[j]==name:
            if math.isnan(alc["2005"][j]):
                data2.alcohol[i] = alc["2008"][j]
            elif math.isnan(alc["2008"][j]):
                data2.alcohol[i] = alc["2005"][j]
            elif (math.isnan(alc["2008"][j]) and math.isnan(alc["2005"][j])):
                data2.alcohol[i] = float('NaN')
            else:
                data2.alcohol[i] = (alc["2005"][j] + alc["2008"][j])/2.0
            
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975      NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680
27                      China        14.25  107.9640  99.642290         24      0.478    5.735
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055
..                        ...          ...       ...        ...        ...        ...      ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810
105               South Sudan        14.25  102.1215        NaN          3      0.995      NaN
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460
112                    Taiwan         0.50  107.9640        NaN          3      0.873      NaN
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305
124             United States        14.25  102.6750        NaN         35      0.836    9.570
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020

[129 rows x 7 columns]

In [56]:
data2[data2.alcohol.isnull()]

                              country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol
16                 Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975      NaN
32   Democratic Republic of the Congo        43.00  106.2650        NaN          2      0.982      NaN
59                        Ivory Coast         6.00  103.4160  67.527310          2      0.920      NaN
65                             Kosovo         3.75  103.6150        NaN          0      0.984      NaN
72                          Macedonia         1.00  104.8620  98.670010          2      0.986      NaN
75                           Maldives         3.00  101.4760  99.301007          2      0.999      NaN
81                         Montenegro         0.50  100.8110  99.317300          0      0.968      NaN
84                            Myanmar        11.75   95.9895  96.095900          2      0.995      NaN
97              Republic of the Congo         0.25  104.8620        NaN          2      0.910      NaN
105                       South Sudan        14.25  102.1215        NaN          3      0.995      NaN
112                            Taiwan         0.50  107.9640        NaN          3      0.873      NaN
126          West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN

In [57]:
# manual insertion
data2.alcohol[16] = (alc["2005"][21] + alc["2008"][21])/2.0  # Bosnia and Herzegovina
data2.alcohol[32] = (alc["2005"][38] + alc["2008"][38])/2.0  # Democratic Republic Congo
data2.alcohol[59] = (alc["2005"][42] + alc["2008"][42])/2.0  # Ivory Coast
data2.alcohol[65] = (alc["2005"][147] + alc["2008"][147])/2.0  # Kosovo NOTE:  Using value for SERBIA
data2.alcohol[72] = (alc["2005"][99] + alc["2008"][99])/2.0  # Macedonia
data2.alcohol[84] = (alc["2005"][113] + alc["2008"][113])/2.0  # Myanmar
data2.alcohol[97] = (alc["2005"][39] + alc["2008"][39])/2.0  # Republic of the Congo
data2.alcohol[105] = (alc["2005"][159] + alc["2008"][159])/2.0  # South Sudan  NOTE:  Using value for SUDAN
data2.alcohol[112] = (alc["2005"][35] + alc["2008"][35])/2.0  # Taiwan  NOTE:  Using value for CHINA

In [58]:
print alc.Country[113]
print alc.Country[21]
print alc.Country[38]
print alc.Country[39]
print alc.Country[42]
print alc.Country[147]
print alc.Country[99]
print alc.Country[159]
print alc.Country[35]

Myanmar [Burma]
Bosnia and Herzegovina
Congo [DRC]
Congo [Republic]
C�te d'Ivoire
Serbia
Macedonia [FYROM]
Sudan
China

In [59]:
# here's what is left
data2[data2.alcohol.isnull()]

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol
75                   Maldives         3.00  101.4760  99.301007          2      0.999      NaN
81                 Montenegro         0.50  100.8110  99.317300          0      0.968      NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN

<div class="alert alert-warning">
These three still have missing values. <br>

Note we imputed values for Kosova, South Sudan, and Taiwan using data from SERBIA, SUDAN, and CHINA, respectively.
</div>

## gdp per capita

In [60]:
gdpcp = pd.read_csv('data/gdpcp.csv')
gdpcp

                            Country          2011          2012          2013          2014
0                             Aruba  25353.787540           NaN           NaN           NaN
1                           Andorra  41630.052580  39666.369210  42806.522550           NaN
2                       Afghanistan    622.379654    690.842629    661.969562    658.981813
3                            Angola   4744.985104   5084.346486   5295.210896   5423.609735
4                           Albania   4437.811725   4256.016702   4458.073207   4619.211258
5                        Arab World   6900.381094   7442.144593   7540.460043   7412.521238
6              United Arab Emirates  39778.489710  41587.512810  44506.763590  44204.318600
7                         Argentina  13439.941460  14436.600090  14623.478690  12568.569820
8                           Armenia   3417.171836   3343.437635   3486.145636   3619.776319
9                    American Samoa           NaN           NaN           NaN           NaN
10              Antigua and Barbuda  12817.841570  13525.616220  13342.085000  13961.683580
11                        Australia  62133.610780  67511.824960  67473.033800  61886.958790
12                          Austria  51130.969050  48348.225960  50513.385420  51127.076160
13                       Azerbaijan   7189.691229   7393.771877   7811.621418   7884.190236
14                          Burundi    240.614477    244.196482    259.365203    286.002342
15                          Belgium  47801.596900  44818.045050  46927.248980  47516.521140
16                            Benin    745.422661    750.581083    804.789261    825.306184
17                     Burkina Faso    665.807447    673.026783    709.782813    713.106378
18                       Bangladesh    838.547802    858.933363    954.396400   1092.668152
19                         Bulgaria   7588.808942   7198.518461   7498.831484   7712.763911
20                          Bahrain  22238.711950  23063.132290  24378.944830  24868.377490
21                     Bahamas, The  21514.898650  22112.608350  22315.603650  22217.494140
22           Bosnia and Herzegovina   4779.999301   4415.923592   4668.804076   4805.243947
23                          Belarus   6305.773662   6721.834908   7722.123351   8040.047557
24                           Belize   4517.123997   4674.293377   4719.137955           NaN
25                          Bermuda  85973.158420  85458.455510  85748.065410           NaN
26                          Bolivia   2376.262711   2640.466702   2942.438536   3235.769529
27                           Brazil  13042.197700  11922.704680  11711.063340  11384.618140
28                         Barbados  15530.894290  15317.139000  15153.821380  15343.355210
29                Brunei Darussalam  41786.588890  41808.756780  39152.308480  41344.040090
..                              ...           ...           ...           ...           ...
218                            Togo    572.025686    580.495021    626.172817    635.044328
219                        Thailand   5166.764888   5448.828352   5741.207122   5519.361114
220                      Tajikistan    841.219870    962.439125   1048.659569   1114.007483
221                    Turkmenistan   5724.537102   6797.721166   7826.773607   9031.511570
222                     Timor-Leste   1002.327757   1105.349369   1243.995055   1280.415013
223                           Tonga   4226.813244   4364.291427   4117.310980   4114.052125
224             Trinidad and Tobago  17637.142810  17311.629700  18122.747210           NaN
225                         Tunisia   4305.063735   4197.528276   4316.796402           NaN
226                          Turkey  10584.163960  10646.035530  10975.074930  10529.569870
227                          Tuvalu   3993.651838   4044.189464   3880.352322           NaN
228                        Tanzania    745.611331    836.452489    927.060134    998.058927
229                          Uganda    544.691066    670.178805    675.443313    696.408954
230                         Ukraine   3569.757027   3855.421280   4029.715504   3082.461447
231             Upper middle income   6898.904646   7266.998499   7719.561242   7966.976652
232                         Uruguay  14166.557670  15127.346220  16879.453160  16806.845570
233                   United States  49781.357490  51456.658730  52980.043630  54629.495170
234                      Uzbekistan   1544.827773   1719.036196   1877.964512   2037.698724
235  St. Vincent and the Grenadines   6191.999409   6351.600498   6575.498106   6663.283684
236                   Venezuela, RB  10754.592880  12771.595040  12265.031140  16614.548750
237           Virgin Islands (U.S.)           NaN           NaN           NaN           NaN
238                         Vietnam   1543.026950   1755.265424   1908.640340   2052.294202
239                         Vanuatu   3275.025202   3158.420974   3167.055303           NaN
240              West Bank and Gaza   2664.951385   2787.169741   2992.200993   2965.903675
241                           World  10356.468290  10444.177780  10610.379650  10724.762080
242                           Samoa   4065.958222   4257.975447   4180.618200   4173.091148
243                     Yemen, Rep.   1282.398832   1289.034078   1408.146193           NaN
244                    South Africa   8080.865243   7592.157997   6886.290406   6477.860092
245                Congo, Dem. Rep.    350.270654    390.706604    413.697058    440.218598
246                          Zambia   1654.525289   1686.618024   1759.192902   1721.623274
247                        Zimbabwe    768.556410    856.299619    905.500324    896.198624

[248 rows x 5 columns]

<div class="alert alert-info">
Note that we do not include missing values in calculating the row average.
</div>

In [61]:
gdpcp["avg"] = float('NaN')
for i in range(gdpcp.shape[0]):
    runningtot = 0
    totalvals = 0
    for j in range(1, 5, 1):
        if not math.isnan(gdpcp.iloc[i][j]):
            runningtot += gdpcp.iloc[i][j]
            totalvals += 1
    if totalvals>0:
        gdpcp = gdpcp.set_value(i, "avg", runningtot/(totalvals*1.0))

gdpcp

                            Country          2011          2012          2013          2014           avg
0                             Aruba  25353.787540           NaN           NaN           NaN  25353.787540
1                           Andorra  41630.052580  39666.369210  42806.522550           NaN  41367.648113
2                       Afghanistan    622.379654    690.842629    661.969562    658.981813    658.543414
3                            Angola   4744.985104   5084.346486   5295.210896   5423.609735   5137.038055
4                           Albania   4437.811725   4256.016702   4458.073207   4619.211258   4442.778223
5                        Arab World   6900.381094   7442.144593   7540.460043   7412.521238   7323.876742
6              United Arab Emirates  39778.489710  41587.512810  44506.763590  44204.318600  42519.271177
7                         Argentina  13439.941460  14436.600090  14623.478690  12568.569820  13767.147515
8                           Armenia   3417.171836   3343.437635   3486.145636   3619.776319   3466.632856
9                    American Samoa           NaN           NaN           NaN           NaN           NaN
10              Antigua and Barbuda  12817.841570  13525.616220  13342.085000  13961.683580  13411.806593
11                        Australia  62133.610780  67511.824960  67473.033800  61886.958790  64751.357082
12                          Austria  51130.969050  48348.225960  50513.385420  51127.076160  50279.914147
13                       Azerbaijan   7189.691229   7393.771877   7811.621418   7884.190236   7569.818690
14                          Burundi    240.614477    244.196482    259.365203    286.002342    257.544626
15                          Belgium  47801.596900  44818.045050  46927.248980  47516.521140  46765.853017
16                            Benin    745.422661    750.581083    804.789261    825.306184    781.524797
17                     Burkina Faso    665.807447    673.026783    709.782813    713.106378    690.430855
18                       Bangladesh    838.547802    858.933363    954.396400   1092.668152    936.136429
19                         Bulgaria   7588.808942   7198.518461   7498.831484   7712.763911   7499.730699
20                          Bahrain  22238.711950  23063.132290  24378.944830  24868.377490  23637.291640
21                     Bahamas, The  21514.898650  22112.608350  22315.603650  22217.494140  22040.151197
22           Bosnia and Herzegovina   4779.999301   4415.923592   4668.804076   4805.243947   4667.492729
23                          Belarus   6305.773662   6721.834908   7722.123351   8040.047557   7197.444869
24                           Belize   4517.123997   4674.293377   4719.137955           NaN   4636.851776
25                          Bermuda  85973.158420  85458.455510  85748.065410           NaN  85726.559780
26                          Bolivia   2376.262711   2640.466702   2942.438536   3235.769529   2798.734369
27                           Brazil  13042.197700  11922.704680  11711.063340  11384.618140  12015.145965
28                         Barbados  15530.894290  15317.139000  15153.821380  15343.355210  15336.302470
29                Brunei Darussalam  41786.588890  41808.756780  39152.308480  41344.040090  41022.923560
..                              ...           ...           ...           ...           ...           ...
218                            Togo    572.025686    580.495021    626.172817    635.044328    603.434463
219                        Thailand   5166.764888   5448.828352   5741.207122   5519.361114   5469.040369
220                      Tajikistan    841.219870    962.439125   1048.659569   1114.007483    991.581512
221                    Turkmenistan   5724.537102   6797.721166   7826.773607   9031.511570   7345.135861
222                     Timor-Leste   1002.327757   1105.349369   1243.995055   1280.415013   1158.021798
223                           Tonga   4226.813244   4364.291427   4117.310980   4114.052125   4205.616944
224             Trinidad and Tobago  17637.142810  17311.629700  18122.747210           NaN  17690.506573
225                         Tunisia   4305.063735   4197.528276   4316.796402           NaN   4273.129471
226                          Turkey  10584.163960  10646.035530  10975.074930  10529.569870  10683.711073
227                          Tuvalu   3993.651838   4044.189464   3880.352322           NaN   3972.731208
228                        Tanzania    745.611331    836.452489    927.060134    998.058927    876.795720
229                          Uganda    544.691066    670.178805    675.443313    696.408954    646.680535
230                         Ukraine   3569.757027   3855.421280   4029.715504   3082.461447   3634.338814
231             Upper middle income   6898.904646   7266.998499   7719.561242   7966.976652   7463.110260
232                         Uruguay  14166.557670  15127.346220  16879.453160  16806.845570  15745.050655
233                   United States  49781.357490  51456.658730  52980.043630  54629.495170  52211.888755
234                      Uzbekistan   1544.827773   1719.036196   1877.964512   2037.698724   1794.881801
235  St. Vincent and the Grenadines   6191.999409   6351.600498   6575.498106   6663.283684   6445.595424
236                   Venezuela, RB  10754.592880  12771.595040  12265.031140  16614.548750  13101.441953
237           Virgin Islands (U.S.)           NaN           NaN           NaN           NaN           NaN
238                         Vietnam   1543.026950   1755.265424   1908.640340   2052.294202   1814.806729
239                         Vanuatu   3275.025202   3158.420974   3167.055303           NaN   3200.167160
240              West Bank and Gaza   2664.951385   2787.169741   2992.200993   2965.903675   2852.556448
241                           World  10356.468290  10444.177780  10610.379650  10724.762080  10533.946950
242                           Samoa   4065.958222   4257.975447   4180.618200   4173.091148   4169.410754
243                     Yemen, Rep.   1282.398832   1289.034078   1408.146193           NaN   1326.526368
244                    South Africa   8080.865243   7592.157997   6886.290406   6477.860092   7259.293435
245                Congo, Dem. Rep.    350.270654    390.706604    413.697058    440.218598    398.723228
246                          Zambia   1654.525289   1686.618024   1759.192902   1721.623274   1705.489872
247                        Zimbabwe    768.556410    856.299619    905.500324    896.198624    856.638744

[248 rows x 6 columns]

In [62]:
data2["gdpcp"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(gdpcp.shape[0]):
        if gdpcp.Country[j]==name:
            data2.gdpcp[i] = gdpcp.avg[j]
            break
            
data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705           NaN
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615           NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082
..                        ...          ...       ...        ...        ...        ...      ...           ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915           NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN           NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200           NaN
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744

[129 rows x 8 columns]

In [63]:
data2[data2.gdpcp.isnull()]

                              country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol  gdpcp
8                             Bahamas         0.25   96.3805        NaN          2      0.969    8.705    NaN
16                 Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615    NaN
32   Democratic Republic of the Congo        43.00  106.2650        NaN          2      0.982    3.345    NaN
37                              Egypt       182.25  100.6855  86.429147         48      0.999    0.345    NaN
54                               Iran        10.00  103.2615  97.576977          5      0.999    1.025    NaN
59                        Ivory Coast         6.00  103.4160  67.527310          2      0.920    6.475    NaN
67                         Kyrgyzstan         0.75  100.3085  99.751850          2      0.996    4.905    NaN
68                               Laos         0.25   99.9755  83.931063          2      0.991    6.860    NaN
72                          Macedonia         1.00  104.8620  98.670010          2      0.986    8.725    NaN
97              Republic of the Congo         0.25  104.8620        NaN          2      0.910    4.330    NaN
98                             Russia       132.25   97.1950  99.709602         99      0.838   15.995    NaN
103                           Somalia       424.50   98.3130        NaN          8      0.999    0.500    NaN
111                             Syria       207.75  103.2330  95.284530         24      0.980    1.460    NaN
112                            Taiwan         0.50  107.9640        NaN          3      0.873    5.735    NaN
125                         Venezuela         1.25  101.2765  98.466039          0      0.900    7.915    NaN
126          West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN    NaN
127                             Yemen       403.50  102.9625  86.368290         17      0.999    0.200    NaN

In [64]:
# manual insertion
data2.gdpcp[8] = gdpcp.avg[21]  # Bahamas
data2.gdpcp[16] = gdpcp.avg[22]  # Bosnia...
data2.gdpcp[32] = gdpcp.avg[245]  # Dem Rep Congo
data2.gdpcp[37] = gdpcp.avg[63]  # Egypt
data2.gdpcp[54] = gdpcp.avg[102]  # Iran
data2.gdpcp[59] = gdpcp.avg[39]  # Ivory Coast
data2.gdpcp[67] = gdpcp.avg[112]  # Kyrgyzstan
data2.gdpcp[68] = gdpcp.avg[120]  # Laos
data2.gdpcp[72] = gdpcp.avg[147]  # Macedonia
data2.gdpcp[97] = gdpcp.avg[41]  # Rep. of Congo
data2.gdpcp[98] = gdpcp.avg[190]  # Russia
data2.gdpcp[111] = gdpcp.avg[215]  # Syria
data2.gdpcp[125] = gdpcp.avg[236]  # Venezuela
data2.gdpcp[126] = gdpcp.avg[240]  # West Bank and Gaza
data2.gdpcp[127] = gdpcp.avg[243]  # Yemen

In [65]:
print gdpcp.Country[21]
print gdpcp.Country[22]
print gdpcp.Country[245]
print gdpcp.Country[63]
print gdpcp.Country[102]
print gdpcp.Country[39]
print gdpcp.Country[112]
print gdpcp.Country[120]
print gdpcp.Country[147]
print gdpcp.Country[41]
print gdpcp.Country[190]
print gdpcp.Country[215]
print gdpcp.Country[236]
print gdpcp.Country[240]
print gdpcp.Country[243]

Bahamas, The
Bosnia and Herzegovina
Congo, Dem. Rep.
Egypt, Arab Rep.
Iran, Islamic Rep.
Cote d'Ivoire
Kyrgyz Republic
Lao PDR
Macedonia, FYR
Congo, Rep.
Russian Federation
Syrian Arab Republic
Venezuela, RB
West Bank and Gaza
Yemen, Rep.

In [66]:
# Here's what's left
data2[data2.gdpcp.isnull()]

     country  avg_attacks  sexratio  literacy  territory  proprelig  alcohol  gdpcp
103  Somalia       424.50    98.313       NaN          8      0.999    0.500    NaN
111    Syria       207.75   103.233  95.28453         24      0.980    1.460    NaN
112   Taiwan         0.50   107.964       NaN          3      0.873    5.735    NaN

<div class="alert alert-warning">
These still have missing values. <br>
Not sure if we should use "China" for Taiwan here again, at least because it is economic data.
</div>

## gdp growth

In [67]:
gdpgr = pd.read_csv('data/gdpgr.csv')
gdpgr

                            Country       2011       2012       2013       2014
0                             Aruba        NaN        NaN        NaN        NaN
1                           Andorra  -4.802675  -1.760010  -0.063514        NaN
2                       Afghanistan   6.113685  14.434741   1.934143   1.998533
3                            Angola   3.918597   5.155441   6.800058   3.901265
4                           Albania   2.545359   1.623699   1.417423   1.900000
5                        Arab World   3.604995   6.259919   3.155573   2.247172
6              United Arab Emirates   4.885271   4.677892   5.200000   3.605468
7                         Argentina   8.386451   0.801760   2.885352   0.469257
8                           Armenia   4.700000   7.200000   3.500000   3.400000
9                    American Samoa        NaN        NaN        NaN        NaN
10              Antigua and Barbuda  -1.793436   4.019542  -0.071364   3.221505
11                        Australia   2.321479   3.727818   2.511938   2.474910
12                          Austria   3.071426   0.883846   0.228021   0.300728
13                       Azerbaijan   0.065923   2.200000   5.796678   2.000000
14                          Burundi   4.191626   4.019366   4.594054   4.660918
15                          Belgium   1.618318   0.092813   0.291114   1.066546
16                            Benin   3.263719   5.395890   5.640149   5.369098
17                     Burkina Faso   6.521769   6.452675   6.669358   4.049761
18                       Bangladesh   6.464384   6.521435   6.013596   6.116224
19                         Bulgaria   1.982003   0.492190   1.065865   1.705474
20                          Bahrain   2.100184   3.588705   5.337539   4.506795
21                     Bahamas, The   0.612903   2.217313   0.022030   1.022786
22           Bosnia and Herzegovina   0.957763  -1.209023   2.480000   1.246023
23                          Belarus   5.543711   1.731391   1.073601   1.587802
24                           Belize   2.103951   3.824749   1.525675        NaN
25                          Bermuda  -3.339494  -4.834540  -2.511154        NaN
26                          Bolivia   5.173930   5.176431   6.775601   5.399085
27                           Brazil   3.916382   1.762489   2.743697   0.144707
28                         Barbados   0.758504   0.009288 -15.262464   0.207469
29                Brunei Darussalam   3.429818   0.948355  -1.751961   5.300000
..                              ...        ...        ...        ...        ...
218                            Togo   4.883764   5.912491   5.117622   5.708886
219                        Thailand   0.077087   6.490572   2.890758   0.710823
220                      Tajikistan   7.400000   7.500000   7.400000   6.699251
221                    Turkmenistan  14.699347  11.101839  10.200011  10.299983
222                     Timor-Leste  14.668094   7.843137   5.367965   6.655711
223                           Tonga   2.019125   0.546957  -2.675542   2.143955
224             Trinidad and Tobago  -1.601761   1.521672   1.600063        NaN
225                         Tunisia  -0.508303   4.661335   2.521341        NaN
226                          Turkey   8.772748   2.127461   4.192509   2.866702
227                          Tuvalu   8.453324   0.174458   1.298188        NaN
228                        Tanzania   7.904508   5.141014   7.263060   6.965133
229                          Uganda   9.673225   4.411260   3.270737   4.509525
230                         Ukraine   5.200000   0.200000   0.000000  -6.800008
231             Upper middle income   6.319515   5.302803   5.103171   4.476288
232                         Uruguay   5.162133   3.323115   5.100361   3.498415
233                   United States   1.601454   2.321085   2.219308   2.388227
234                      Uzbekistan   8.300000   8.200000   8.000000   8.100000
235  St. Vincent and the Grenadines  -0.480674   1.165563   1.795450  -0.451726
236                   Venezuela, RB   4.176425   5.625957   1.343094  -3.999244
237           Virgin Islands (U.S.)        NaN        NaN        NaN        NaN
238                         Vietnam   6.240303   5.247367   5.421883   5.983655
239                         Vanuatu   1.207476   1.770585   1.969146        NaN
240              West Bank and Gaza   7.892980  14.475248  -4.281125  -1.499057
241                           World   2.841551   2.234594   2.350320   2.474734
242                           Samoa   5.778544   0.409528  -1.928082   1.194074
243                     Yemen, Rep. -15.088393   2.469879   4.155706        NaN
244                    South Africa   3.212452   2.219824   2.212354   1.524843
245                Congo, Dem. Rep.   6.864630   7.157860   8.503503   9.046596
246                          Zambia   6.338446   6.730574   6.713450   6.000000
247                        Zimbabwe  11.905408  10.565204   4.484095   3.168211

[248 rows x 5 columns]

<div class="alert alert-info">
Note that we do not include missing values in calculating the row average.
</div>

In [68]:
gdpgr["avg"] = float('NaN')
for i in range(gdpgr.shape[0]):
    runningtot = 0
    totalvals = 0
    for j in range(1, 5, 1):
        if not math.isnan(gdpgr.iloc[i][j]):
            runningtot += gdpgr.iloc[i][j]
            totalvals += 1
    if totalvals>0:
        gdpgr = gdpgr.set_value(i, "avg", runningtot/(totalvals*1.0))
        
gdpgr

                            Country       2011       2012       2013       2014        avg
0                             Aruba        NaN        NaN        NaN        NaN        NaN
1                           Andorra  -4.802675  -1.760010  -0.063514        NaN  -2.208733
2                       Afghanistan   6.113685  14.434741   1.934143   1.998533   6.120276
3                            Angola   3.918597   5.155441   6.800058   3.901265   4.943840
4                           Albania   2.545359   1.623699   1.417423   1.900000   1.871620
5                        Arab World   3.604995   6.259919   3.155573   2.247172   3.816915
6              United Arab Emirates   4.885271   4.677892   5.200000   3.605468   4.592158
7                         Argentina   8.386451   0.801760   2.885352   0.469257   3.135705
8                           Armenia   4.700000   7.200000   3.500000   3.400000   4.700000
9                    American Samoa        NaN        NaN        NaN        NaN        NaN
10              Antigua and Barbuda  -1.793436   4.019542  -0.071364   3.221505   1.344062
11                        Australia   2.321479   3.727818   2.511938   2.474910   2.759036
12                          Austria   3.071426   0.883846   0.228021   0.300728   1.121005
13                       Azerbaijan   0.065923   2.200000   5.796678   2.000000   2.515650
14                          Burundi   4.191626   4.019366   4.594054   4.660918   4.366491
15                          Belgium   1.618318   0.092813   0.291114   1.066546   0.767198
16                            Benin   3.263719   5.395890   5.640149   5.369098   4.917214
17                     Burkina Faso   6.521769   6.452675   6.669358   4.049761   5.923391
18                       Bangladesh   6.464384   6.521435   6.013596   6.116224   6.278910
19                         Bulgaria   1.982003   0.492190   1.065865   1.705474   1.311383
20                          Bahrain   2.100184   3.588705   5.337539   4.506795   3.883306
21                     Bahamas, The   0.612903   2.217313   0.022030   1.022786   0.968758
22           Bosnia and Herzegovina   0.957763  -1.209023   2.480000   1.246023   0.868691
23                          Belarus   5.543711   1.731391   1.073601   1.587802   2.484126
24                           Belize   2.103951   3.824749   1.525675        NaN   2.484792
25                          Bermuda  -3.339494  -4.834540  -2.511154        NaN  -3.561730
26                          Bolivia   5.173930   5.176431   6.775601   5.399085   5.631262
27                           Brazil   3.916382   1.762489   2.743697   0.144707   2.141819
28                         Barbados   0.758504   0.009288 -15.262464   0.207469  -3.571801
29                Brunei Darussalam   3.429818   0.948355  -1.751961   5.300000   1.981553
..                              ...        ...        ...        ...        ...        ...
218                            Togo   4.883764   5.912491   5.117622   5.708886   5.405691
219                        Thailand   0.077087   6.490572   2.890758   0.710823   2.542310
220                      Tajikistan   7.400000   7.500000   7.400000   6.699251   7.249813
221                    Turkmenistan  14.699347  11.101839  10.200011  10.299983  11.575295
222                     Timor-Leste  14.668094   7.843137   5.367965   6.655711   8.633727
223                           Tonga   2.019125   0.546957  -2.675542   2.143955   0.508624
224             Trinidad and Tobago  -1.601761   1.521672   1.600063        NaN   0.506658
225                         Tunisia  -0.508303   4.661335   2.521341        NaN   2.224791
226                          Turkey   8.772748   2.127461   4.192509   2.866702   4.489855
227                          Tuvalu   8.453324   0.174458   1.298188        NaN   3.308657
228                        Tanzania   7.904508   5.141014   7.263060   6.965133   6.818429
229                          Uganda   9.673225   4.411260   3.270737   4.509525   5.466186
230                         Ukraine   5.200000   0.200000   0.000000  -6.800008  -0.350002
231             Upper middle income   6.319515   5.302803   5.103171   4.476288   5.300444
232                         Uruguay   5.162133   3.323115   5.100361   3.498415   4.271006
233                   United States   1.601454   2.321085   2.219308   2.388227   2.132518
234                      Uzbekistan   8.300000   8.200000   8.000000   8.100000   8.150000
235  St. Vincent and the Grenadines  -0.480674   1.165563   1.795450  -0.451726   0.507153
236                   Venezuela, RB   4.176425   5.625957   1.343094  -3.999244   1.786558
237           Virgin Islands (U.S.)        NaN        NaN        NaN        NaN        NaN
238                         Vietnam   6.240303   5.247367   5.421883   5.983655   5.723302
239                         Vanuatu   1.207476   1.770585   1.969146        NaN   1.649069
240              West Bank and Gaza   7.892980  14.475248  -4.281125  -1.499057   4.147011
241                           World   2.841551   2.234594   2.350320   2.474734   2.475300
242                           Samoa   5.778544   0.409528  -1.928082   1.194074   1.363516
243                     Yemen, Rep. -15.088393   2.469879   4.155706        NaN  -2.820936
244                    South Africa   3.212452   2.219824   2.212354   1.524843   2.292368
245                Congo, Dem. Rep.   6.864630   7.157860   8.503503   9.046596   7.893147
246                          Zambia   6.338446   6.730574   6.713450   6.000000   6.445618
247                        Zimbabwe  11.905408  10.565204   4.484095   3.168211   7.530729

[248 rows x 6 columns]

In [69]:
data2["gdpgr"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(gdpgr.shape[0]):
        if gdpgr.Country[j]==name:
            data2.gdpgr[i] = gdpgr.avg[j]
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197        NaN
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729        NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953        NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448        NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368        NaN
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729

[129 rows x 9 columns]

In [70]:
data2[data2.gdpgr.isnull()]

                              country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp  gdpgr
8                             Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197    NaN
16                 Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729    NaN
32   Democratic Republic of the Congo        43.00  106.2650        NaN          2      0.982    3.345    398.723228    NaN
37                              Egypt       182.25  100.6855  86.429147         48      0.999    0.345   3046.943898    NaN
54                               Iran        10.00  103.2615  97.576977          5      0.999    1.025   6677.546833    NaN
59                        Ivory Coast         6.00  103.4160  67.527310          2      0.920    6.475   1376.603933    NaN
67                         Kyrgyzstan         0.75  100.3085  99.751850          2      0.996    4.905   1213.358600    NaN
68                               Laos         0.25   99.9755  83.931063          2      0.991    6.860   1551.792854    NaN
72                          Macedonia         1.00  104.8620  98.670010          2      0.986    8.725   5110.086461    NaN
97              Republic of the Congo         0.25  104.8620        NaN          2      0.910    4.330   3246.899329    NaN
98                             Russia       132.25   97.1950  99.709602         99      0.838   15.995  13656.478055    NaN
103                           Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN    NaN
111                             Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN    NaN
112                            Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN    NaN
125                         Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953    NaN
126          West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448    NaN
127                             Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368    NaN

In [71]:
# manual insertion
data2.gdpgr[8] = gdpgr.avg[21]  # Bahamas
data2.gdpgr[16] = gdpgr.avg[22]  # Bosnia...
data2.gdpgr[32] = gdpgr.avg[245]  # Dem Rep Congo
data2.gdpgr[37] = gdpgr.avg[63]  # Egypt
data2.gdpgr[54] = gdpgr.avg[102]  # Iran
data2.gdpgr[59] = gdpgr.avg[39]  # Ivory Coast
data2.gdpgr[67] = gdpgr.avg[112]  # Kyrgyzstan
data2.gdpgr[68] = gdpgr.avg[120]  # Laos
data2.gdpgr[72] = gdpgr.avg[147]  # Macedonia
data2.gdpgr[97] = gdpgr.avg[41]  # Rep. of Congo
data2.gdpgr[98] = gdpgr.avg[190]  # Russia
data2.gdpgr[111] = gdpgr.avg[215]  # Syria
data2.gdpgr[125] = gdpgr.avg[236]  # Venezuela
data2.gdpgr[126] = gdpgr.avg[240]  # West Bank and Gaza
data2.gdpgr[127] = gdpgr.avg[243]  # Yemen

In [72]:
print gdpgr.Country[21]
print gdpgr.Country[22]
print gdpgr.Country[245]
print gdpgr.Country[63]
print gdpgr.Country[102]
print gdpgr.Country[39]
print gdpgr.Country[112]
print gdpgr.Country[120]
print gdpgr.Country[147]
print gdpgr.Country[41]
print gdpgr.Country[190]
print gdpgr.Country[215]
print gdpgr.Country[236]
print gdpgr.Country[240]
print gdpgr.Country[243]

Bahamas, The
Bosnia and Herzegovina
Congo, Dem. Rep.
Egypt, Arab Rep.
Iran, Islamic Rep.
Cote d'Ivoire
Kyrgyz Republic
Lao PDR
Macedonia, FYR
Congo, Rep.
Russian Federation
Syrian Arab Republic
Venezuela, RB
West Bank and Gaza
Yemen, Rep.

In [73]:
# Here's what's left
data2[data2.gdpgr.isnull()]

     country  avg_attacks  sexratio  literacy  territory  proprelig  alcohol  gdpcp  gdpgr
103  Somalia       424.50    98.313       NaN          8      0.999    0.500    NaN    NaN
111    Syria       207.75   103.233  95.28453         24      0.980    1.460    NaN    NaN
112   Taiwan         0.50   107.964       NaN          3      0.873    5.735    NaN    NaN

<div class="alert alert-warning">
These still have missing values. <br>
Note sure if we should use "China" for Taiwan here, for economic data.
</div>

## democracy score (2011)

In [74]:
democ = pd.read_csv('data/demscore.csv')
democ

                          country  2011
0                        Abkhazia   NaN
1                     Afghanistan   NaN
2           Akrotiri and Dhekelia   NaN
3                         Albania     9
4                         Algeria     2
5                  American Samoa   NaN
6                         Andorra   NaN
7                          Angola    -2
8                        Anguilla   NaN
9             Antigua and Barbuda   NaN
10                      Argentina     8
11                        Armenia     5
12                          Aruba   NaN
13                      Australia    10
14                        Austria    10
15                     Azerbaijan    -7
16                        Bahamas   NaN
17                        Bahrain    -8
18                     Bangladesh     5
19                       Barbados   NaN
20                        Belarus    -7
21                        Belgium     8
22                         Belize   NaN
23                          Benin     7
24                        Bermuda   NaN
25                         Bhutan     3
26                        Bolivia     7
27         Bosnia and Herzegovina   NaN
28                       Botswana     8
29                         Brazil     8
..                            ...   ...
245              Wallis et Futuna   NaN
246                       Vanuatu   NaN
247                     Venezuela    -3
248            West Bank and Gaza   NaN
249                  West Germany   NaN
250                Western Sahara   NaN
251                       Vietnam    -7
252         Virgin Islands (U.S.)   NaN
253  Yemen Arab Republic (Former)   NaN
254     Yemen Democratic (Former)   NaN
255                   Yemen, Rep.    -2
256                    Yugoslavia   NaN
257                        Zambia     7
258                      Zimbabwe     1
259                         �land   NaN
260                         Baden   NaN
261                       Bavaria   NaN
262                 Gran Colombia   NaN
263                        Modena   NaN
264             Orange Free State   NaN
265                         Parma   NaN
266                       Prussia   NaN
267                      Sardinia   NaN
268                        Saxony   NaN
269                       Tuscany   NaN
270                  Two Sicilies   NaN
271            United Province CA   NaN
272                 Vietnam North   NaN
273                 Vietnam South   NaN
274                  Wuerttemburg   NaN

[275 rows x 2 columns]

In [75]:
data2["democ"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(democ.shape[0]):
        if democ.country[j]==name:
            if math.isnan(democ["2011"][j]):
                data2.democ[i] = float('NaN')
            else:
                data2.democ[i] = democ["2011"][j]
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr  democ
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276    NaN
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620      9
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002      2
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705      8
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000      5
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036     10
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005     10
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650     -7
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197   0.968758    NaN
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306     -8
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910      5
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126     -7
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198      8
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792    NaN
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837      3
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262      7
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729   0.868691    NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819      8
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383      9
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391      0
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491      6
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823      2
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328     -4
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562     10
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813    NaN
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362     -2
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253     10
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403     -7
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561      7
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020      9
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...    ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067     -4
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268    -10
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217      7
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287      8
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN      0
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368      9
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402      0
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737     10
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924      4
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328     -2
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723     10
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780     10
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN     -7
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN     10
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813     -3
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429     -1
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310      7
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658     10
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791    NaN
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855      9
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295     -9
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186     -1
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002      6
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158     -8
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472     10
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518     10
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953   1.786558     -3
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448   4.147011    NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368  -2.820936    NaN
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729      1

[129 rows x 10 columns]

In [76]:
data2[data2.democ.isnull()]

                              country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp     gdpgr  democ
0                         Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414  6.120276    NaN
8                             Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197  0.968758    NaN
13                             Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776  2.484792    NaN
16                 Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729  0.868691    NaN
24           Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022 -6.905813    NaN
31                     Czech Republic         1.75  106.2650        NaN         10      0.236   16.460  20184.768415  0.611336    NaN
32   Democratic Republic of the Congo        43.00  106.2650        NaN          2      0.982    3.345    398.723228  7.893147    NaN
35                 Dominican Republic         0.50  100.0310  96.544841          0      0.891    6.345   5959.611480  4.392253    NaN
51                            Iceland         0.50  112.4065        NaN          0      0.965    6.845  47519.868840  2.285653    NaN
59                        Ivory Coast         6.00  103.4160  67.527310          2      0.920    6.475   1376.603933  6.133331    NaN
72                          Macedonia         1.00  104.8620  98.670010          2      0.986    8.725   5110.086461  2.079226    NaN
75                           Maldives         3.00  101.4760  99.301007          2      0.999      NaN   7701.404796  6.901426    NaN
77                              Malta         0.25  105.2050  98.265030          2      0.975    4.185  22100.071030  1.800000    NaN
97              Republic of the Congo         0.25  104.8620        NaN          2      0.910    4.330   3246.899329  4.301881    NaN
117                           Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471  2.224791    NaN
126          West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448  4.147011    NaN
127                             Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368 -2.820936    NaN

In [77]:
# manual insertion
data2.democ[24] = democ["2011"][40]  # Central African Republic
data2.democ[32] = democ["2011"][49]  # Dem Rep Congo
data2.democ[35] = democ["2011"][62]  # Dominican Republic
data2.democ[59] = democ["2011"][53]  # Ivory Coast
data2.democ[72] = democ["2011"][132]  # Macedonia
data2.democ[97] = democ["2011"][50]  # Rep Congo

In [78]:
print democ.country[40]
print democ.country[49]
print democ.country[62]
print democ.country[53]
print democ.country[132]
print democ.country[50]

Central African Rep.
Congo, Dem. Rep.
Dominican Rep.
Cote d'Ivoire
Macedonia, FYR
Congo, Rep.

In [79]:
# see what's left
data2[data2.democ.isnull()]

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp     gdpgr  democ
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414  6.120276    NaN
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197  0.968758    NaN
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776  2.484792    NaN
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729  0.868691    NaN
31             Czech Republic         1.75  106.2650        NaN         10      0.236   16.460  20184.768415  0.611336    NaN
51                    Iceland         0.50  112.4065        NaN          0      0.965    6.845  47519.868840  2.285653    NaN
75                   Maldives         3.00  101.4760  99.301007          2      0.999      NaN   7701.404796  6.901426    NaN
77                      Malta         0.25  105.2050  98.265030          2      0.975    4.185  22100.071030  1.800000    NaN
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471  2.224791    NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448  4.147011    NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368 -2.820936    NaN

<div class="alert alert-warning">
All these countries still have missing values.
</div>

## corruption score

In [80]:
corrup = pd.read_csv('data/corrup.csv')
corrup

                      country  corrup  Unnamed: 2  Unnamed: 3  Unnamed: 4
0                 Afghanistan      12         NaN         NaN         NaN
1                     Albania      33         NaN         NaN         NaN
2                     Algeria      36         NaN         NaN         NaN
3                      Angola      19         NaN         NaN         NaN
4                   Argentina      34         NaN         NaN         NaN
5                     Armenia      37         NaN         NaN         NaN
6                   Australia      80         NaN         NaN         NaN
7                     Austria      72         NaN         NaN         NaN
8                  Azerbaijan      29         NaN         NaN         NaN
9                     Bahamas      71         NaN         NaN         NaN
10                    Bahrain      49         NaN         NaN         NaN
11                 Bangladesh      25         NaN         NaN         NaN
12                   Barbados      74         NaN         NaN         NaN
13                    Belarus      31         NaN         NaN         NaN
14                    Belgium      76         NaN         NaN         NaN
15                      Benin      39         NaN         NaN         NaN
16                     Bhutan      65         NaN         NaN         NaN
17                    Bolivia      35         NaN         NaN         NaN
18     Bosnia and Herzegovina      39         NaN         NaN         NaN
19                   Botswana      63         NaN         NaN         NaN
20                     Brazil      43         NaN         NaN         NaN
21                   Bulgaria      43         NaN         NaN         NaN
22               Burkina Faso      38         NaN         NaN         NaN
23                    Burundi      20         NaN         NaN         NaN
24                   Cambodia      21         NaN         NaN         NaN
25                   Cameroon      27         NaN         NaN         NaN
26                     Canada      81         NaN         NaN         NaN
27                 Cape Verde      57         NaN         NaN         NaN
28   Central African Republic      24         NaN         NaN         NaN
29                       Chad      22         NaN         NaN         NaN
..                        ...     ...         ...         ...         ...
145                 Sri Lanka      38         NaN         NaN         NaN
146                     Sudan      11         NaN         NaN         NaN
147                  Suriname      36         NaN         NaN         NaN
148                 Swaziland      43         NaN         NaN         NaN
149                    Sweden      87         NaN         NaN         NaN
150               Switzerland      86         NaN         NaN         NaN
151                     Syria      20         NaN         NaN         NaN
152                    Taiwan      61         NaN         NaN         NaN
153                Tajikistan      23         NaN         NaN         NaN
154                  Tanzania      31         NaN         NaN         NaN
155                  Thailand      38         NaN         NaN         NaN
156      The FYR of Macedonia      45         NaN         NaN         NaN
157               Timor-Leste      28         NaN         NaN         NaN
158                      Togo      29         NaN         NaN         NaN
159       Trinidad and Tobago      38         NaN         NaN         NaN
160                   Tunisia      40         NaN         NaN         NaN
161                    Turkey      45         NaN         NaN         NaN
162              Turkmenistan      17         NaN         NaN         NaN
163                    Uganda      26         NaN         NaN         NaN
164                   Ukraine      26         NaN         NaN         NaN
165      United Arab Emirates      70         NaN         NaN         NaN
166            United Kingdom      78         NaN         NaN         NaN
167             United States      74         NaN         NaN         NaN
168                   Uruguay      73         NaN         NaN         NaN
169                Uzbekistan      18         NaN         NaN         NaN
170                 Venezuela      19         NaN         NaN         NaN
171                   Vietnam      31         NaN         NaN         NaN
172                     Yemen      19         NaN         NaN         NaN
173                    Zambia      38         NaN         NaN         NaN
174                  Zimbabwe      21         NaN         NaN         NaN

[175 rows x 5 columns]

In [81]:
data2["corrup"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(corrup.shape[0]):
        if corrup.country[j]==name:
            data2.corrup[i] = corrup["corrup"][j]
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr  democ  corrup
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276    NaN      12
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620      9      33
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002      2      36
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705      8      34
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000      5      37
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036     10      80
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005     10      72
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650     -7      29
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197   0.968758    NaN      71
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306     -8      49
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910      5      25
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126     -7      31
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198      8      76
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792    NaN     NaN
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837      3      65
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262      7      35
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729   0.868691    NaN     NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819      8      43
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383      9      43
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391      0      38
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491      6      20
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823      2      21
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328     -4      27
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562     10      81
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813     -1      24
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362     -2      22
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253     10      73
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403     -7      36
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561      7      37
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020      9      48
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...    ...     ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067     -4      49
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268    -10      49
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217      7      43
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287      8      41
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN      0       8
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368      9      44
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402      0      15
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737     10      60
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924      4      38
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328     -2      11
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723     10      87
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780     10      86
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN     -7      20
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN     10      61
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813     -3      23
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429     -1      31
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310      7      38
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658     10      38
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791    NaN      40
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855      9      45
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295     -9      17
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186     -1      26
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002      6      26
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158     -8      70
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472     10      78
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518     10      74
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953   1.786558     -3      19
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448   4.147011    NaN     NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368  -2.820936    NaN      19
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729      1      21

[129 rows x 11 columns]

In [82]:
data2[data2.corrup.isnull()]

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol        gdpcp     gdpgr  democ  corrup
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995  4636.851776  2.484792    NaN     NaN
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615  4667.492729  0.868691    NaN     NaN
59                Ivory Coast         6.00  103.4160  67.527310          2      0.920    6.475  1376.603933  6.133331      0     NaN
72                  Macedonia         1.00  104.8620  98.670010          2      0.986    8.725  5110.086461  2.079226      9     NaN
75                   Maldives         3.00  101.4760  99.301007          2      0.999      NaN  7701.404796  6.901426    NaN     NaN
97      Republic of the Congo         0.25  104.8620        NaN          2      0.910    4.330  3246.899329  4.301881     -4     NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN  2852.556448  4.147011    NaN     NaN

In [83]:
# manual insertion
data2.corrup[16] = corrup["corrup"][18]  # Bosnia...
data2.corrup[59] = corrup["corrup"][36]  # Ivory Coast
data2.corrup[97] = corrup["corrup"][34]  # Rep of Congo

In [84]:
print corrup.country[18]
print corrup.country[36]
print corrup.country[34]

Bosnia and Herzegovina
C�te d�Ivoire
Congo Republic

In [85]:
# see what's left
data2[data2.corrup.isnull()]

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol        gdpcp     gdpgr  democ  corrup
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995  4636.851776  2.484792    NaN     NaN
72                  Macedonia         1.00  104.8620  98.670010          2      0.986    8.725  5110.086461  2.079226      9     NaN
75                   Maldives         3.00  101.4760  99.301007          2      0.999      NaN  7701.404796  6.901426    NaN     NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN  2852.556448  4.147011    NaN     NaN

<div class="alert alert-warning">
These still have missing values.
</div>

## disasters

In [86]:
disaster = pd.read_csv('data/disasters.csv')
disaster

                  country   damage
0             Afghanistan        5
1             Afghanistan  1750000
2             Afghanistan    12810
3             Afghanistan       57
4                 Algeria      793
5                  Angola        0
6                  Angola    90684
7               Argentina        0
8               Argentina     3000
9               Argentina      332
10              Argentina        0
11              Australia        0
12              Australia      120
13              Australia      217
14              Australia     7300
15                Bahamas    10000
16             Bangladesh   102000
17             Bangladesh      121
18             Bangladesh  1570559
19             Bangladesh        0
20             Bangladesh        6
21             Bangladesh       20
22                Belgium       71
23                Belgium        0
24                  Benin     5840
25                  Benin       43
26                 Bhutan    20016
27                Bolivia        0
28                Bolivia     4000
29                Bolivia    88825
...                   ...      ...
1358       United Kingdom      540
1359        United States      169
1360        United States        0
1361        United States      381
1362        United States        0
1363        United States      184
1364        United States        0
1365        United States      429
1366        United States     3250
1367        United States      150
1368        United States   102000
1369        United States       30
1370        United States      834
1371              Vanuatu    20006
1372             Viet Nam        5
1373             Viet Nam    48075
1374                Yemen       30
1375  Zaire/Congo Dem Rep       50
1376  Zaire/Congo Dem Rep     4750
1377  Zaire/Congo Dem Rep        0
1378  Zaire/Congo Dem Rep        0
1379  Zaire/Congo Dem Rep      162
1380  Zaire/Congo Dem Rep        5
1381  Zaire/Congo Dem Rep       17
1382  Zaire/Congo Dem Rep      114
1383               Zambia    20000
1384               Zambia        0
1385             Zimbabwe     1002
1386             Zimbabwe        0
1387             Zimbabwe     1500

[1388 rows x 2 columns]

In [87]:
# group by country and sum
gbdisas = disaster.groupby('country')['damage'].sum()
gbdisas

country
Afghanistan              1986163
Albania                   230020
Algeria                     1374
Angola                   1925687
Argentina                 381716
Armenia                    76000
Australia                  85284
Austria                      200
Azerbaijan                 22499
Bahamas                    11004
Bahrain                        0
Bangladesh              11670151
Belarus                    42955
Belgium                       71
Benin                      99622
Bermuda                        0
Bhutan                     20016
Bolivia                  1251513
Bosnia-Hercegovenia      1010947
Botswana                    4210
Brazil                  34339023
Bulgaria                   46707
Burkina Faso             6882513
Burundi                    14017
Cambodia                 3741973
Cameroon                  321577
Canada                    120127
Cape Verde Is               2500
Central African Rep        95751
Chad                     2233462
                          ...
Swaziland                    400
Sweden                         0
Switzerland                   87
Syrian Arab Rep               20
Taiwan                     37061
Tajikistan                 25940
Tanzania Uni Rep         1108293
Thailand                16155687
Timor-Leste                  197
Togo                         244
Tonga                       4014
Tunisia                      600
Turkey                     43717
Turkmenistan                   0
Turks and Caicos Is           32
Tuvalu                         0
Uganda                   1000531
Ukraine                    90333
United Arab Emirates          38
United Kingdom             27125
United States             847432
Uzbekistan                    86
Vanuatu                    52006
Venezuela                  14918
Viet Nam                 5895267
Wallis and Futuna Is        1252
Yemen                    1486466
Zaire/Congo Dem Rep        70221
Zambia                     23412
Zimbabwe                 2213390
Name: damage, dtype: int64

In [88]:
type(gbdisas)

pandas.core.series.Series

In [89]:
gbdisas.shape[0]

176

In [90]:
data2["disasters"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    try:
        data2.disasters[i] = gbdisas[name]
    except:
        # not found
        pass

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr  democ  corrup  disasters
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276    NaN      12    1986163
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620      9      33     230020
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002      2      36       1374
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705      8      34     381716
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000      5      37      76000
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036     10      80      85284
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005     10      72        200
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650     -7      29      22499
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197   0.968758    NaN      71      11004
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306     -8      49          0
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910      5      25   11670151
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126     -7      31      42955
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198      8      76         71
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792    NaN     NaN        NaN
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837      3      65      20016
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262      7      35    1251513
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729   0.868691    NaN      39        NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819      8      43   34339023
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383      9      43      46707
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391      0      38    6882513
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491      6      20      14017
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823      2      21    3741973
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328     -4      27     321577
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562     10      81     120127
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813     -1      24        NaN
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362     -2      22    2233462
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253     10      73     611064
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403     -7      36        NaN
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561      7      37    1721849
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020      9      48      10616
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...    ...     ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067     -4      49      14771
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268    -10      49       1318
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217      7      43    1715291
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287      8      41    1704234
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN      0       8    3653385
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368      9      44     350587
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402      0      15     744489
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737     10      60      19109
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924      4      38    6758655
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328     -2      11    4102534
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723     10      87          0
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780     10      86         87
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN     -7      20        NaN
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN     10      61      37061
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813     -3      23      25940
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429     -1      31        NaN
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310      7      38   16155687
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658     10      38        NaN
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791    NaN      40        600
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855      9      45      43717
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295     -9      17          0
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186     -1      26    1000531
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002      6      26      90333
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158     -8      70         38
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472     10      78      27125
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518     10      74     847432
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953   1.786558     -3      19      14918
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448   4.147011    NaN     NaN        NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368  -2.820936    NaN      19    1486466
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729      1      21    2213390

[129 rows x 12 columns]

In [91]:
data2[data2.disasters.isnull()]

                              country  avg_attacks  sexratio    literacy  territory  proprelig  alcohol         gdpcp     gdpgr  democ  corrup  disasters
13                             Belize         0.25  102.4845         NaN          2      0.911    5.995   4636.851776  2.484792    NaN     NaN        NaN
16                 Bosnia-Herzegovina         1.25   95.9685   99.697600          3      0.975    9.615   4667.492729  0.868691    NaN      39        NaN
24           Central African Republic        30.00   98.3910   65.776528          2      0.990    3.260    413.319022 -6.905813     -1      24        NaN
27                              China        14.25  107.9640   99.642290         24      0.478    5.735   6606.141682  8.067403     -7      36        NaN
31                     Czech Republic         1.75  106.2650         NaN         10      0.236   16.460  20184.768415  0.611336    NaN      51        NaN
32   Democratic Republic of the Congo        43.00  106.2650         NaN          2      0.982    3.345    398.723228  7.893147      5      22        NaN
34                           Djibouti         0.25  101.3740         NaN          2      0.998    1.870   1637.081848  4.721977      2      34        NaN
35                 Dominican Republic         0.50  100.0310   96.544841          0      0.891    6.345   5959.611480  4.392253      8      32        NaN
38                            Eritrea         0.25   98.6220   90.133280          3      0.999    1.590    655.087299  4.683151     -7      18        NaN
48                      Guinea-Bissau         0.25   98.7455   73.169620          2      0.957    3.790    581.316253  2.416079      6      19        NaN
51                            Iceland         0.50  112.4065         NaN          0      0.965    6.845  47519.868840  2.285653    NaN      79        NaN
54                               Iran        10.00  103.2615   97.576977          5      0.999    1.025   6677.546833 -0.768914     -7      27        NaN
59                        Ivory Coast         6.00  103.4160   67.527310          2      0.920    6.475   1376.603933  6.133331      0      32        NaN
65                             Kosovo         3.75  103.6150         NaN          0      0.984   11.650   3804.921570  3.268196      8      33        NaN
66                             Kuwait         0.25  158.0985   98.834028          8      0.999    0.100  49125.564277  5.911286     -7      44        NaN
68                               Laos         0.25   99.9755   83.931063          2      0.991    6.860   1551.792854  8.009827     -7      25        NaN
69                            Lebanon        87.50   96.6960   98.714789          0      0.997    2.265   9697.522758  1.776147      7      27        NaN
71                              Libya       270.50  104.5340   99.898210          6      0.998    0.105   8894.346018  1.206880      0      18        NaN
72                          Macedonia         1.00  104.8620   98.670010          2      0.986    8.725   5110.086461  2.079226      9     NaN        NaN
80                            Moldova         0.25   96.6065  100.000000          6      0.986   20.615   2123.714828  4.927789      8      35        NaN
97              Republic of the Congo         0.25  104.8620         NaN          2      0.910    4.330   3246.899329  4.301881     -4      23        NaN
111                             Syria       207.75  103.2330   95.284530         24      0.980    1.460           NaN       NaN     -7      20        NaN
114                          Tanzania         4.50  101.1035   74.560521          8      0.986    7.305    876.795720  6.818429     -1      31        NaN
116               Trinidad and Tobago         0.75   98.7505   99.567720          2      0.981    6.220  17690.506573  0.506658     10      38        NaN
126          West Bank and Gaza Strip        60.25  105.2455   99.181879         48      0.999      NaN   2852.556448  4.147011    NaN     NaN        NaN

In [92]:
# manual insertion
data2.disasters[16] = gbdisas['Bosnia-Hercegovenia']
data2.disasters[24] = gbdisas['Central African Rep']
data2.disasters[27] = gbdisas['China P Rep']
data2.disasters[31] = gbdisas['Czech Rep']
data2.disasters[32] = gbdisas['Congo']
data2.disasters[35] = gbdisas['Dominican Rep']
data2.disasters[54] = gbdisas['Iran Islam Rep']  
data2.disasters[59] = gbdisas["Cote d'Ivoire"]
data2.disasters[68] = gbdisas['Lao P Dem Rep']
data2.disasters[71] = gbdisas['Libyan Arab Jamah']
data2.disasters[72] = gbdisas['Macedonia FRY']
data2.disasters[80] = gbdisas['Moldova Rep']
data2.disasters[97] = gbdisas['Zaire/Congo Dem Rep']
data2.disasters[111] = gbdisas['Syrian Arab Rep']
data2.disasters[114] = gbdisas['Tanzania Uni Rep']
data2.disasters[126] = gbdisas['Palestine (West Bank)']

In [93]:
# see what's left
data2[data2.disasters.isnull()]

                 country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp     gdpgr  democ  corrup  disasters
13                Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776  2.484792    NaN     NaN        NaN
34              Djibouti         0.25  101.3740        NaN          2      0.998    1.870   1637.081848  4.721977      2      34        NaN
38               Eritrea         0.25   98.6220  90.133280          3      0.999    1.590    655.087299  4.683151     -7      18        NaN
48         Guinea-Bissau         0.25   98.7455  73.169620          2      0.957    3.790    581.316253  2.416079      6      19        NaN
51               Iceland         0.50  112.4065        NaN          0      0.965    6.845  47519.868840  2.285653    NaN      79        NaN
65                Kosovo         3.75  103.6150        NaN          0      0.984   11.650   3804.921570  3.268196      8      33        NaN
66                Kuwait         0.25  158.0985  98.834028          8      0.999    0.100  49125.564277  5.911286     -7      44        NaN
69               Lebanon        87.50   96.6960  98.714789          0      0.997    2.265   9697.522758  1.776147      7      27        NaN
116  Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573  0.506658     10      38        NaN

<div class="alert alert-warning">
These still have missing values.
</div>

## agricultural land

In [94]:
agric = pd.read_csv('data/agric.csv')
agric

                            country       2011       2012       2013
0                             Aruba  11.111111  11.111111  11.111111
1                           Andorra  43.404255  42.978723  44.255319
2                       Afghanistan  58.067580  58.067580  58.067580
3                            Angola  47.316917  47.316917  47.477340
4                           Albania  43.832117  43.843066  43.332117
5                        Arab World  38.030748  38.353421  38.133138
6              United Arab Emirates   4.706938   4.565789   4.572967
7                         Argentina  54.182607  54.538146  54.518049
8                           Armenia  59.645241  59.114858  59.083246
9                    American Samoa  24.500000  24.500000  24.500000
10              Antigua and Barbuda  20.454545  20.454545  20.454545
11                        Australia  53.326816  52.780287  51.627156
12                          Austria  38.530053  38.350012  38.221638
13                       Azerbaijan  57.691935  57.687096  57.704545
14                          Burundi  73.325545  75.272586  79.166667
15                          Belgium  44.121532  44.022457  44.138045
16                            Benin  31.305427  32.813054  33.256474
17                     Burkina Faso  43.092105  44.225146  44.956140
18                       Bangladesh  70.123684  70.062226  69.970039
19                         Bulgaria  46.868091  47.190494  46.011422
20                          Bahrain  11.212516  11.168831  11.168831
21                     Bahamas, The   1.398601   1.398601   1.398601
22           Bosnia and Herzegovina  42.011719  42.109375  42.148438
23                          Belarus  43.738603  43.349268  43.004288
24                           Belize   6.882946   7.014467   7.014467
25                          Bermuda   6.000000   6.000000   6.000000
26                          Bolivia  34.364442  34.692144  34.773378
27                           Brazil  32.946684  32.974681  33.357673
28                         Barbados  32.558140  32.558140  32.558140
29                Brunei Darussalam   2.542694   2.542694   2.732448
..                              ...        ...        ...        ...
218                            Togo  67.383710  70.785071  70.233499
219                        Thailand  41.222181  42.788076  43.277418
220                      Tajikistan  34.688482  34.831380  34.831380
221                    Turkmenistan  72.006469  72.006469  72.006469
222                     Timor-Leste  25.084062  25.823806  25.554808
223                           Tonga  43.055556  43.055556  43.055556
224             Trinidad and Tobago  10.526316  10.526316  10.526316
225                         Tunisia  64.830072  63.864573  63.999743
226                          Turkey  49.695308  49.903200  49.923989
227                          Tuvalu  60.000000  60.000000  60.000000
228                        Tanzania  43.237751  44.818243  44.761797
229                          Uganda  71.888091  72.137443  71.888091
230                         Ukraine  71.257681  71.285300  71.247324
231             Upper middle income  44.643848  44.709406  44.861159
232                         Uruguay  82.996229  81.304994  82.064907
233                   United States  44.238627  44.679975  44.322552
234                      Uzbekistan  62.599906  62.881993  62.929008
235  St. Vincent and the Grenadines  25.641026  25.641026  25.641026
236                   Venezuela, RB  24.488408  24.488408  24.488408
237           Virgin Islands (U.S.)  11.428571  11.428571  11.428571
238                         Vietnam  34.809237  35.001129  35.068533
239                         Vanuatu  15.340443  15.340443  15.340443
240              West Bank and Gaza  43.272425  43.355482  43.521595
241                           World  37.675705  37.785216  37.726335
242                           Samoa  12.367491  12.367491  12.367491
243                     Yemen, Rep.  44.419190  44.604807  44.597231
244                    South Africa  79.445054  79.830021  79.830021
245                Congo, Dem. Rep.  11.486293  11.556869  11.556869
246                          Zambia  31.794886  32.063923  31.929404
247                        Zimbabwe  42.393693  41.876696  41.876696

[248 rows x 4 columns]

<div class="alert alert-info">
Note that we do not include missing values in calculating the row average.
</div>

In [95]:
agric["avg"] = float('NaN')
for i in range(agric.shape[0]):
    runningtot = 0
    totalvals = 0
    for j in range(1, 4, 1):
        if not math.isnan(agric.iloc[i][j]):
            runningtot += agric.iloc[i][j]
            totalvals += 1
    if totalvals>0:
        agric = agric.set_value(i, "avg", runningtot/(totalvals*1.0))
        
agric

                            country       2011       2012       2013        avg
0                             Aruba  11.111111  11.111111  11.111111  11.111111
1                           Andorra  43.404255  42.978723  44.255319  43.546099
2                       Afghanistan  58.067580  58.067580  58.067580  58.067580
3                            Angola  47.316917  47.316917  47.477340  47.370391
4                           Albania  43.832117  43.843066  43.332117  43.669100
5                        Arab World  38.030748  38.353421  38.133138  38.172436
6              United Arab Emirates   4.706938   4.565789   4.572967   4.615231
7                         Argentina  54.182607  54.538146  54.518049  54.412934
8                           Armenia  59.645241  59.114858  59.083246  59.281115
9                    American Samoa  24.500000  24.500000  24.500000  24.500000
10              Antigua and Barbuda  20.454545  20.454545  20.454545  20.454545
11                        Australia  53.326816  52.780287  51.627156  52.578086
12                          Austria  38.530053  38.350012  38.221638  38.367234
13                       Azerbaijan  57.691935  57.687096  57.704545  57.694526
14                          Burundi  73.325545  75.272586  79.166667  75.921599
15                          Belgium  44.121532  44.022457  44.138045  44.094011
16                            Benin  31.305427  32.813054  33.256474  32.458319
17                     Burkina Faso  43.092105  44.225146  44.956140  44.091131
18                       Bangladesh  70.123684  70.062226  69.970039  70.051983
19                         Bulgaria  46.868091  47.190494  46.011422  46.690002
20                          Bahrain  11.212516  11.168831  11.168831  11.183393
21                     Bahamas, The   1.398601   1.398601   1.398601   1.398601
22           Bosnia and Herzegovina  42.011719  42.109375  42.148438  42.089844
23                          Belarus  43.738603  43.349268  43.004288  43.364053
24                           Belize   6.882946   7.014467   7.014467   6.970627
25                          Bermuda   6.000000   6.000000   6.000000   6.000000
26                          Bolivia  34.364442  34.692144  34.773378  34.609988
27                           Brazil  32.946684  32.974681  33.357673  33.093013
28                         Barbados  32.558140  32.558140  32.558140  32.558140
29                Brunei Darussalam   2.542694   2.542694   2.732448   2.605946
..                              ...        ...        ...        ...        ...
218                            Togo  67.383710  70.785071  70.233499  69.467427
219                        Thailand  41.222181  42.788076  43.277418  42.429225
220                      Tajikistan  34.688482  34.831380  34.831380  34.783748
221                    Turkmenistan  72.006469  72.006469  72.006469  72.006469
222                     Timor-Leste  25.084062  25.823806  25.554808  25.487559
223                           Tonga  43.055556  43.055556  43.055556  43.055556
224             Trinidad and Tobago  10.526316  10.526316  10.526316  10.526316
225                         Tunisia  64.830072  63.864573  63.999743  64.231462
226                          Turkey  49.695308  49.903200  49.923989  49.840833
227                          Tuvalu  60.000000  60.000000  60.000000  60.000000
228                        Tanzania  43.237751  44.818243  44.761797  44.272597
229                          Uganda  71.888091  72.137443  71.888091  71.971208
230                         Ukraine  71.257681  71.285300  71.247324  71.263435
231             Upper middle income  44.643848  44.709406  44.861159  44.738137
232                         Uruguay  82.996229  81.304994  82.064907  82.122043
233                   United States  44.238627  44.679975  44.322552  44.413718
234                      Uzbekistan  62.599906  62.881993  62.929008  62.803636
235  St. Vincent and the Grenadines  25.641026  25.641026  25.641026  25.641026
236                   Venezuela, RB  24.488408  24.488408  24.488408  24.488408
237           Virgin Islands (U.S.)  11.428571  11.428571  11.428571  11.428571
238                         Vietnam  34.809237  35.001129  35.068533  34.959633
239                         Vanuatu  15.340443  15.340443  15.340443  15.340443
240              West Bank and Gaza  43.272425  43.355482  43.521595  43.383167
241                           World  37.675705  37.785216  37.726335  37.729085
242                           Samoa  12.367491  12.367491  12.367491  12.367491
243                     Yemen, Rep.  44.419190  44.604807  44.597231  44.540409
244                    South Africa  79.445054  79.830021  79.830021  79.701698
245                Congo, Dem. Rep.  11.486293  11.556869  11.556869  11.533344
246                          Zambia  31.794886  32.063923  31.929404  31.929404
247                        Zimbabwe  42.393693  41.876696  41.876696  42.049028

[248 rows x 5 columns]

In [96]:
data2["agric"] = float('NaN')

for i in range(data2.shape[0]):
    name = data2.country[i]
    for j in range(agric.shape[0]):
        if agric.country[j]==name:
            data2.agric[i] = agric.avg[j]
            break

data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr  democ  corrup  disasters      agric
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276    NaN      12    1986163  58.067580
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620      9      33     230020  43.669100
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002      2      36       1374  17.384815
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705      8      34     381716  54.412934
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000      5      37      76000  59.281115
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036     10      80      85284  52.578086
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005     10      72        200  38.367234
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650     -7      29      22499  57.694526
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197   0.968758    NaN      71      11004        NaN
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306     -8      49          0  11.183393
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910      5      25   11670151  70.051983
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126     -7      31      42955  43.364053
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198      8      76         71  44.094011
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792    NaN     NaN        NaN   6.970627
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837      3      65      20016  13.631713
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262      7      35    1251513  34.609988
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729   0.868691    NaN      39    1010947        NaN
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819      8      43   34339023  33.093013
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383      9      43      46707  46.690002
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391      0      38    6882513  44.091131
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491      6      20      14017  75.921599
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823      2      21    3741973  32.498678
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328     -4      27     321577  20.625754
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562     10      81     120127   7.081754
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813     -1      24      95751   8.154355
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362     -2      22    2233462  39.656131
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253     10      73     611064  21.227233
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403     -7      36  261263857  54.808419
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561      7      37    1721849  38.802524
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020      9      48      10616  23.582321
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...    ...     ...        ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067     -4      49      14771  73.972031
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268    -10      49       1318  80.636123
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217      7      43    1715291  46.655932
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287      8      41    1704234  57.862642
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN      0       8    3653385  70.231985
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368      9      44     350587  79.701698
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402      0      15     744489        NaN
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737     10      60      19109  53.921242
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924      4      38    6758655  43.374262
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328     -2      11    4102534  46.323808
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723     10      87          0   7.479488
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780     10      86         87  38.684752
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN     -7      20         20        NaN
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN     10      61      37061        NaN
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813     -3      23      25940  34.783748
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429     -1      31    1108293  44.272597
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310      7      38   16155687  42.429225
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658     10      38        NaN  10.526316
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791    NaN      40        600  64.231462
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855      9      45      43717  49.840833
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295     -9      17          0  72.006469
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186     -1      26    1000531  71.971208
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002      6      26      90333  71.263435
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158     -8      70         38   4.615231
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472     10      78      27125  71.089709
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518     10      74     847432  44.413718
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953   1.786558     -3      19      14918        NaN
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448   4.147011    NaN     NaN      64071        NaN
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368  -2.820936    NaN      19    1486466        NaN
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729      1      21    2213390  42.049028

[129 rows x 13 columns]

In [97]:
data2[data2.agric.isnull()]

                              country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp     gdpgr  democ  corrup  disasters  agric
8                             Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197  0.968758    NaN      71      11004    NaN
16                 Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729  0.868691    NaN      39    1010947    NaN
32   Democratic Republic of the Congo        43.00  106.2650        NaN          2      0.982    3.345    398.723228  7.893147      5      22      34914    NaN
37                              Egypt       182.25  100.6855  86.429147         48      0.999    0.345   3046.943898  2.080707     -2      37        436    NaN
54                               Iran        10.00  103.2615  97.576977          5      0.999    1.025   6677.546833 -0.768914     -7      27     527059    NaN
59                        Ivory Coast         6.00  103.4160  67.527310          2      0.920    6.475   1376.603933  6.133331      0      32         28    NaN
65                             Kosovo         3.75  103.6150        NaN          0      0.984   11.650   3804.921570  3.268196      8      33        NaN    NaN
67                         Kyrgyzstan         0.75  100.3085  99.751850          2      0.996    4.905   1213.358600  5.096657      7      27      11050    NaN
68                               Laos         0.25   99.9755  83.931063          2      0.991    6.860   1551.792854  8.009827     -7      25    1078003    NaN
72                          Macedonia         1.00  104.8620  98.670010          2      0.986    8.725   5110.086461  2.079226      9     NaN      18811    NaN
97              Republic of the Congo         0.25  104.8620        NaN          2      0.910    4.330   3246.899329  4.301881     -4      23      70221    NaN
98                             Russia       132.25   97.1950  99.709602         99      0.838   15.995  13656.478055  2.412752      4      27     425274    NaN
105                       South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141 -0.356402      0      15     744489    NaN
111                             Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN       NaN     -7      20         20    NaN
112                            Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN       NaN     10      61      37061    NaN
125                         Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953  1.786558     -3      19      14918    NaN
126          West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448  4.147011    NaN     NaN      64071    NaN
127                             Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368 -2.820936    NaN      19    1486466    NaN

In [98]:
# manual insertion
data2.agric[8] = agric.avg[21]  # Bahamas
data2.agric[16] = agric.avg[22]  # Bosnia...
data2.agric[32] = agric.avg[245]  # Dem Rep Congo
data2.agric[37] = agric.avg[63]  # Egypt
data2.agric[54] = agric.avg[102]  # Iran
data2.agric[59] = agric.avg[39]  # Ivory Coast
data2.agric[67] = agric.avg[112]  # Kyrgyzstan
data2.agric[68] = agric.avg[120]  # Laos
data2.agric[72] = agric.avg[147]  # Macedonia
data2.agric[97] = agric.avg[41]  # Rep. of Congo
data2.agric[98] = agric.avg[190]  # Russia
data2.agric[111] = agric.avg[215]  # Syria
data2.agric[125] = agric.avg[236]  # Venezuela
data2.agric[126] = agric.avg[240]  # West Bank and Gaza
data2.agric[127] = agric.avg[243]  # Yemen

In [99]:
print agric.country[21]
print agric.country[22]
print agric.country[245]
print agric.country[63]
print agric.country[102]
print agric.country[39]
print agric.country[112]
print agric.country[120]
print agric.country[147]
print agric.country[41]
print agric.country[190]
print agric.country[215]
print agric.country[236]
print agric.country[240]
print agric.country[243]

Bahamas, The
Bosnia and Herzegovina
Congo, Dem. Rep.
Egypt, Arab Rep.
Iran, Islamic Rep.
Cote d'Ivoire
Kyrgyz Republic
Lao PDR
Macedonia, FYR
Congo, Rep.
Russian Federation
Syrian Arab Republic
Venezuela, RB
West Bank and Gaza
Yemen, Rep.

In [100]:
## see what's left
data2[data2.agric.isnull()]

         country  avg_attacks  sexratio  literacy  territory  proprelig  alcohol        gdpcp     gdpgr  democ  corrup  disasters  agric
65        Kosovo         3.75  103.6150       NaN          0      0.984   11.650  3804.921570  3.268196      8      33        NaN    NaN
105  South Sudan        14.25  102.1215       NaN          3      0.995    2.560  1192.090141 -0.356402      0      15     744489    NaN
112       Taiwan         0.50  107.9640       NaN          3      0.873    5.735          NaN       NaN     10      61      37061    NaN

<div class="alert alert-warning">
These still have missing values.
</div>

# Create output table

<div class="alert alert-warning">
Note: missing values are represented by NaN.
</div>

In [101]:
data2

                      country  avg_attacks  sexratio   literacy  territory  proprelig  alcohol         gdpcp      gdpgr  democ  corrup  disasters      agric
0                 Afghanistan      1288.25  108.9140        NaN          0      0.999    0.025    658.543414   6.120276    NaN      12    1986163  58.067580
1                     Albania         0.75   96.7730  98.811199          0      0.986    6.985   4442.778223   1.871620      9      33     230020  43.669100
2                     Algeria        22.75  103.0800  91.779641          3      0.982    0.825   5470.406003   3.250002      2      36       1374  17.384815
3                   Argentina         1.25  101.3305  99.215080          2      0.878    9.675  13767.147515   3.135705      8      34     381716  54.412934
4                     Armenia         0.25   88.8890  99.756760          2      0.987   12.505   3466.632856   4.700000      5      37      76000  59.281115
5                   Australia         2.00  101.4740        NaN          8      0.758   10.115  64751.357082   2.759036     10      80      85284  52.578086
6                     Austria         0.75  102.1110        NaN          4      0.865   12.820  50279.914147   1.121005     10      72        200  38.367234
7                  Azerbaijan         0.75   94.7420  99.975648          2      0.999   11.970   7569.818690   2.515650     -7      29      22499  57.694526
8                     Bahamas         0.25   96.3805        NaN          2      0.969    8.705  22040.151197   0.968758    NaN      71      11004   1.398601
9                     Bahrain        29.75  142.3155  98.163596          2      0.981    3.925  23637.291640   3.883306     -8      49          0  11.183393
10                 Bangladesh        74.75  102.5425  78.705770          5      0.999    0.170    936.136429   6.278910      5      25   11670151  70.051983
11                    Belarus         1.00   98.4350  99.823213          2      0.714   16.990   7197.444869   2.484126     -7      31      42955  43.364053
12                    Belgium         0.75  101.8855        NaN         12      0.710   10.590  46765.853017   0.767198      8      76         71  44.094011
13                     Belize         0.25  102.4845        NaN          2      0.911    5.995   4636.851776   2.484792    NaN     NaN        NaN   6.970627
14                     Bhutan         0.50  116.5220  74.405207          0      0.999    0.545   2419.816780   5.315837      3      65      20016  13.631713
15                    Bolivia         0.25  100.4045  99.315944          0      0.959    5.450   2798.734369   5.631262      7      35    1251513  34.609988
16         Bosnia-Herzegovina         1.25   95.9685  99.697600          3      0.975    9.615   4667.492729   0.868691    NaN      39    1010947  42.089844
17                     Brazil         1.75   98.5840  97.761244          0      0.921    9.620  12015.145965   2.141819      8      43   34339023  33.093013
18                   Bulgaria         2.00  103.5805  97.865054          0      0.958   11.920   7499.730699   1.311383      9      43      46707  46.690002
19               Burkina Faso         0.25  100.7155  36.112199          5      0.996    7.150    690.430855   5.923391      0      38    6882513  44.091131
20                    Burundi         4.75   97.6745  88.886367          6      0.999    9.560    257.544626   4.366491      6      20      14017  75.921599
21                   Cambodia         0.50   99.0405  87.301918          2      0.998    4.740    981.683924   7.192823      2      21    3741973  32.498678
22                   Cameroon        18.25  101.7865  81.855007         11      0.947    7.735   1310.394569   5.044328     -4      27     321577  20.625754
23                     Canada         1.75  102.8465        NaN          0      0.763    9.985  51849.085117   2.354562     10      81     120127   7.081754
24   Central African Republic        30.00   98.3910  65.776528          2      0.990    3.260    413.319022  -6.905813     -1      24      95751   8.154355
25                       Chad         0.25   99.9630  47.888400          4      0.975    4.385    992.721551   5.491362     -2      22    2233462  39.656131
26                      Chile         7.25  101.2520  99.012979          2      0.914    8.680  15026.384705   4.354253     10      73     611064  21.227233
27                      China        14.25  107.9640  99.642290         24      0.478    5.735   6606.141682   8.067403     -7      36  261263857  54.808419
28                   Colombia       146.50   97.5815  98.010670          2      0.934    6.380   7761.184014   5.030561      7      37    1721849  38.802524
29                    Croatia         0.50  102.1120  99.645820          3      0.949   15.055  13720.111082  -0.952020      9      48      10616  23.582321
..                        ...          ...       ...        ...        ...        ...      ...           ...        ...    ...     ...        ...        ...
99                     Rwanda         3.50   94.7770  77.344627          2      0.964    9.895    662.251224   7.072067     -4      49      14771  73.972031
100              Saudi Arabia         7.00  125.4700  98.020180         34      0.993    0.295  24236.566182   5.370268    -10      49       1318  80.636123
101                   Senegal         5.25   97.0770  57.933281          2      0.999    0.555   1050.575982   3.234217      7      43    1715291  46.655932
102                    Serbia         0.75  103.6150  99.270810         43      0.967   11.650   6147.341374   0.286287      8      41    1704234  57.862642
103                   Somalia       424.50   98.3130        NaN          8      0.999    0.500           NaN        NaN      0       8    3653385  70.231985
104              South Africa         9.25  102.8280  98.176674          8      0.851    9.810   7259.293435   2.292368      9      44     350587  79.701698
105               South Sudan        14.25  102.1215        NaN          3      0.995    2.560   1192.090141  -0.356402      0      15     744489        NaN
106                     Spain         2.25  105.4055  99.573015         10      0.810   11.725  30275.322720  -0.636737     10      60      19109  53.921242
107                 Sri Lanka         8.50   97.7460  97.874597          2      0.999    0.800   3167.397075   7.300924      4      38    6758655  43.374262
108                     Sudan        70.25  102.1215  87.287010          7      0.990    2.560   1715.172287   0.551328     -2      11    4102534  46.323808
109                    Sweden         2.25  103.8100        NaN          0      0.730    9.800  58994.980795   1.484723     10      87          0   7.479488
110               Switzerland         1.25   99.2980        NaN          0      0.881   11.235  85343.610157   1.609780     10      86         87  38.684752
111                     Syria       207.75  103.2330  95.284530         24      0.980    1.460           NaN        NaN     -7      20         20  75.799161
112                    Taiwan         0.50  107.9640        NaN          3      0.873    5.735           NaN        NaN     10      61      37061        NaN
113                Tajikistan         1.50   96.3685  99.868600          4      0.985    3.390    991.581512   7.249813     -3      23      25940  34.783748
114                  Tanzania         4.50  101.1035  74.560521          8      0.986    7.305    876.795720   6.818429     -1      31    1108293  44.272597
115                  Thailand       341.75   98.3260  98.050914          0      0.997    7.080   5469.040369   2.542310      7      38   16155687  42.429225
116       Trinidad and Tobago         0.75   98.7505  99.567720          2      0.981    6.220  17690.506573   0.506658     10      38        NaN  10.526316
117                   Tunisia        14.00  101.6175  96.755223          4      0.998    1.170   4273.129471   2.224791    NaN      40        600  64.231462
118                    Turkey        93.25  102.5605  97.233968          5      0.988    2.945  10683.711073   4.489855      9      45      43717  49.840833
119              Turkmenistan         0.25   99.3945  99.831610          2      0.995    4.815   7345.135861  11.575295     -9      17          0  72.006469
120                    Uganda         1.50  102.3270  85.737238          2      0.995   14.165    646.680535   5.466186     -1      26    1000531  71.971208
121                   Ukraine       226.25   98.5970  99.775370          9      0.853   16.535   3634.338814  -0.350002      6      26      90333  71.263435
122      United Arab Emirates         0.75  237.9485  95.006451         13      0.989    0.530  42519.271177   4.592158     -8      70         38   4.615231
123            United Kingdom        84.50  101.7735        NaN        280      0.787   13.305  42351.382982   1.630472     10      78      27125  71.089709
124             United States        14.25  102.6750        NaN         35      0.836    9.570  52211.888755   2.132518     10      74     847432  44.413718
125                 Venezuela         1.25  101.2765  98.466039          0      0.900    7.915  13101.441953   1.786558     -3      19      14918  24.488408
126  West Bank and Gaza Strip        60.25  105.2455  99.181879         48      0.999      NaN   2852.556448   4.147011    NaN     NaN      64071  43.383167
127                     Yemen       403.50  102.9625  86.368290         17      0.999    0.200   1326.526368  -2.820936    NaN      19    1486466  44.540409
128                  Zimbabwe         1.50   98.3705  90.930702          2      0.921    5.020    856.638744   7.530729      1      21    2213390  42.049028

[129 rows x 13 columns]

In [102]:
data2.to_csv("terror2.csv")